<div class="container mx-auto bg-yellow-300 font-mob">
  <!-- Wrapper -->
  <div class="max-w-md mx-auto py-6 items-center flex justify-center">
    <!-- Device -->
    <div class="bg-white shadow-sm h-full w-full mx-auto rounded-3xl p-4">
      <!-- Sect 1 -->
      <div class="flex items-center justify-between p-2">
        <button class="w-12 h-12 bg-gray-50 hover:bg-gray-100 rounded-bl-md rounded-tr-md rounded-br-xl rounded-tl-lg focus:outline-none">
          <svg class="w-8 h-8 mx-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </button>
        <button class="w-12 h-12 overflow-hidden ring-2 ring-gray-50 hover:ring-gray-100 rounded-full focus:outline-none">
          <img class="w-full h-full object-cover" alt="avatar-sm" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_avatar_child_kid-128.png" />
        </button>
      </div>
      <!-- End Sect 1 -->

      <!-- Sect 2 -->
      <section class="p-2">
        <p class="font-normal text-sm text-gray-400">Hi Rubina!</p>
        <span class="font-semibold mt-1 block text-gray-800 text-2xl tracking-tighter">Make your own food,</span>
        <span class="font-semibold text-gray-800 text-2xl tracking-tighter">stay at</span>
        <span class="font-semibold text-yellow-400 text-2xl tracking-tighter">home</span>
      </section>
      <!-- End Sect 2 -->

      <!-- Sect 3 -->
      <section class="grid grid-cols-6 p-2">
        <div class="col-span-5 w-full pr-4 relative">
          <svg class="w-5 text-gray-400 absolute top-4 left-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          <input type="text" class="w-full transition text-sm focus:outline-none ring-2 ring-opacity-0 ring-gray-50 focus:ring-yellow-300 bg-gray-100 py-4 pl-12 rounded-2xl" placeholder="Find your today receipe" />
        </div>
        <div class="col-span-1">
          <button class="w-full focus:outline-none transition bg-yellow-300 py-3 px-2 rounded-2xl shadow-sm hover:bg-yellow-400">
            <svg class="w-7 mx-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
            </svg>
          </button>
        </div>
      </section>
      <!-- End Sect 3 -->

      <!-- Sect 4 -->
      <section class="my-3">
        <div class="space-x-4 p-2 overflow-hidden flex">
          <button class="py-3 px-4 space-x-2 w-auto ring-2 ring-yellow-600 ring-opacity-40 focus:bg-yellow-300 bg-yellow-300 font-bold text-gray-700 tracking-normal rounded-2xl inline-flex text-xs items-center focus:outline-none">
            <span class="w-7 h-7">
              <img class="rounded-full w-full h-full object-cover" alt="i1" src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60" />
            </span>
            <span>Breakfast</span>
          </button>
          <button class="py-3 px-4 space-x-2 w-auto ring-2 ring-yellow-600 ring-opacity-0 focus:ring-opacity-40 focus:bg-yellow-300 bg-yellow-50 font-bold text-gray-700 tracking-normal rounded-2xl inline-flex text-xs items-center focus:outline-none">
            <span class="w-7 h-7">
              <img class="rounded-full w-full h-full object-cover" alt="i1" src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60" />
            </span>
            <span>Fastfood</span>
          </button>
          <button class="py-3 px-4 space-x-2 w-auto ring-2 ring-yellow-600 ring-opacity-0 focus:ring-opacity-40 focus:bg-yellow-300 bg-yellow-50 font-bold text-gray-700 tracking-normal rounded-2xl inline-flex text-xs items-center focus:outline-none">
            <span class="w-7 h-7">
              <img class="rounded-full w-full h-full object-cover" alt="i1" src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDN8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" />
            </span>
            <span>Japanese</span>
          </button>
        </div>
      </section>
      <!-- End Sect 4 -->

      <!-- Sect 5 -->
      <section class="p-2">
        <h1 class="font-bold text-gray-900 mb-3">Popular Receipe</h1>
        <div class="flex space-x-4">
          <!-- Card 1 -->
          <div class="w-48 h-52 overflow-hidden rounded-3xl relative flex flex-col justify-between">
            <img alt="p-1" src="https://images.unsplash.com/photo-1481931098730-318b6f776db0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mjh8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" />
            <!-- Bookmark -->
            <div class="w-full p-3 absolute top-0 flex items-center justify-end">
              <button class="w-6 h-6 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
                <svg class="w-4 h-4 mx-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
                </svg>
              </button>
            </div>

            <div class="rounded-2xl mx-3 p-3 bg-gray-50 absolute bottom-3">
              <div class="flex flex-col">
                <span class="text-tiny1 font-semibold">Oats with mongo slice and cream</span>
                <div class="flex items-center justify-between">
                  <div class="inline-flex">
                    <button class="w-6 h-6 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-full focus:outline-none">
                      <img alt="card-img" class="w-full h-full rounded-full object-cover" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/afro_avatar_male_man-128.png" />
                    </button>
                    <div class="flex-col flex ml-1">
                      <p class="text-tiny1">Eko Trisno</p>
                      <p class="text-tiny0 -mt-0.5 text-gray-400">Chef Master</p>
                    </div>
                  </div>
                  <button class="w-auto p-0.5 text-tiny1 inline-flex items-center justify-center transition bg-yellow-400 bg-opacity-80 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
                    <svg class="w-3 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                    <span>4.5</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="w-48 h-52 overflow-hidden rounded-3xl relative flex flex-col justify-between">
            <img alt="p-1" src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjN8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" />
            <!-- Bookmark -->
            <div class="w-full p-3 absolute top-0 flex items-center justify-end">
              <button class="w-6 h-6 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
                <svg class="w-4 h-4 mx-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
                </svg>
              </button>
            </div>

            <div class="rounded-2xl mx-3 p-3 bg-gray-50 absolute bottom-3">
              <div class="flex flex-col">
                <span class="text-tiny1 font-semibold">Oats with mongo slice and cream</span>
                <div class="flex items-center justify-between">
                  <div class="inline-flex">
                    <button class="w-6 h-6 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-full focus:outline-none">
                      <img alt="card-img" class="w-full h-full rounded-full object-cover" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/afro_avatar_male_man-128.png" />
                    </button>
                    <div class="flex-col flex ml-1">
                      <p class="text-tiny1">Annisa Pho</p>
                      <p class="text-tiny0 -mt-0.5 text-gray-400">Chef Master</p>
                    </div>
                  </div>
                  <button class="w-auto p-0.5 text-tiny1 inline-flex items-center justify-center transition bg-yellow-400 bg-opacity-80 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
                    <svg class="w-3 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                    <span>4.5</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Sect 5 -->

      <!-- Sect 6 -->
      <section class="p-2">
        <h1 class="font-bold text-gray-900 mb-3">Popular Receipe</h1>
        <div class="space-x-4 p-2 overflow-hidden flex">
          <div class="bg-white h-28 w-64 ring-2 ring-gray-100 ring-opacity-60 rounded-lg p-3">
            <div class="flex items-center justify-between p-1">
              <img class="h-20 w-20 object-cover rounded-2xl" src="https://images.unsplash.com/photo-1514849302-984523450cf4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGljZWNyZWFtfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
              <div class="rounded-2xl  p-3">
                <div class="flex flex-col">
                  <span class="text-tiny1 font-semibold">Oats with mongo slice and cream</span>
                  <div class="flex items-center justify-between">
                    <div class="inline-flex">
                      <button class="w-6 h-6 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-full focus:outline-none">
                        <img alt="card-img" class="w-full h-full rounded-full object-cover" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/afro_avatar_male_man-128.png" />
                      </button>
                      <div class="flex-col flex ml-1">
                        <p class="text-tiny1">Eko Trisno</p>
                        <p class="text-tiny0 -mt-0.5 text-gray-400">Chef Master</p>
                      </div>
                    </div>
                    <button class="w-auto p-0.5 text-tiny1 inline-flex items-center justify-center transition bg-yellow-400 bg-opacity-80 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
                      <svg class="w-3 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                      </svg>
                      <span>4.5</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Sect 6 -->
    </div>
    <!-- End Device -->
  </div>
  <!-- End Wrapper -->
</div>
