<div class="min-h-screen bg-gray-100 py-6 flex  flex-wrap">
  <!-- Card 1 -->
  <div class="bg-white m-2 md:max-h-56 min-w-max max-w-max ring-2 ring-gray-100 ring-opacity-60 rounded-2xl p-3">
    <div class="flex flex-col md:flex-row items-center justify-between md:p-1">
      <img class="h-44 w-48 md:w-auto object-cover rounded-2xl" src="https://images.unsplash.com/photo-1514849302-984523450cf4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGljZWNyZWFtfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
      <div class="rounded-2xl p-3">
        <div class="flex flex-col">
          <div class="flex items-center justify-between">
            <span class="text-xs text-gray-400">Spceial Dessert</span>
            <button class="w-6 h-6 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
              <svg class="w-4 h-4 mx-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
              </svg>
            </button>
          </div>
          <span class="font-bold">Morning Shake with <br />Mango slice and cream</span>
          <p class="text-xs my-2">
            Merupakan ice cream special dessert<br />
            yang akan memanjakan lidahmu.
          </p>
          <div class="flex items-center justify-between">
            <div class="inline-flex">
              <button class="w-10 h-10w-10 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-full focus:outline-none">
                <img alt="card-img" class="w-full h-full rounded-full object-cover" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/afro_avatar_male_man-128.png" />
              </button>
              <div class="flex-col flex ml-1">
                <p class="text-sm">Eko Trisno</p>
                <p class="text-xs -mt-0.5 text-gray-400">Chef Master</p>
              </div>
            </div>
            <button class="w-auto p-1 text-sm inline-flex items-center justify-center transition bg-yellow-400 bg-opacity-80 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
              <svg class="w-3 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>
              <span>4.5</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 2 -->
  <div class="bg-white m-2 md:max-h-56 min-w-max max-w-max ring-2 ring-gray-100 ring-opacity-60 rounded-2xl p-3">
    <div class="flex flex-col md:flex-row items-center justify-between md:p-1">
      <img class="h-44 w-48 md:w-auto object-cover rounded-2xl" src="https://images.unsplash.com/photo-1514849302-984523450cf4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGljZWNyZWFtfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
      <div class="rounded-2xl p-3">
        <div class="flex flex-col">
          <div class="flex items-center justify-between">
            <span class="text-xs text-gray-400">Spceial Dessert</span>
            <button class="w-6 h-6 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
              <svg class="w-4 h-4 mx-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
              </svg>
            </button>
          </div>
          <span class="font-bold">Morning Shake with <br />Mango slice and cream</span>
          <p class="text-xs my-2">
            Merupakan ice cream special dessert<br />
            yang akan memanjakan lidahmu.
          </p>
          <div class="flex items-center justify-between">
            <div class="inline-flex">
              <button class="w-10 h-10w-10 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-full focus:outline-none">
                <img alt="card-img" class="w-full h-full rounded-full object-cover" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/afro_avatar_male_man-128.png" />
              </button>
              <div class="flex-col flex ml-1">
                <p class="text-sm">Eko Trisno</p>
                <p class="text-xs -mt-0.5 text-gray-400">Chef Master</p>
              </div>
            </div>
            <button class="w-auto p-1 text-sm inline-flex items-center justify-center transition bg-yellow-400 bg-opacity-80 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
              <svg class="w-3 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>
              <span>4.5</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 3 -->
  <div class="bg-white m-2 md:max-h-56 min-w-max max-w-max ring-2 ring-gray-100 ring-opacity-60 rounded-2xl p-3">
    <div class="flex flex-col md:flex-row items-center justify-between md:p-1">
      <img class="h-44 w-48 md:w-auto object-cover rounded-2xl" src="https://images.unsplash.com/photo-1514849302-984523450cf4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGljZWNyZWFtfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
      <div class="rounded-2xl p-3">
        <div class="flex flex-col">
          <div class="flex items-center justify-between">
            <span class="text-xs text-gray-400">Spceial Dessert</span>
            <button class="w-6 h-6 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
              <svg class="w-4 h-4 mx-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
              </svg>
            </button>
          </div>
          <span class="font-bold">Morning Shake with <br />Mango slice and cream</span>
          <p class="text-xs my-2">
            Merupakan ice cream special dessert<br />
            yang akan memanjakan lidahmu.
          </p>
          <div class="flex items-center justify-between">
            <div class="inline-flex">
              <button class="w-10 h-10w-10 transition bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-full focus:outline-none">
                <img alt="card-img" class="w-full h-full rounded-full object-cover" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/afro_avatar_male_man-128.png" />
              </button>
              <div class="flex-col flex ml-1">
                <p class="text-sm">Eko Trisno</p>
                <p class="text-xs -mt-0.5 text-gray-400">Chef Master</p>
              </div>
            </div>
            <button class="w-auto p-1 text-sm inline-flex items-center justify-center transition bg-yellow-400 bg-opacity-80 border border-gray-400 border-opacity-5 hover:bg-opacity-60 rounded-lg focus:outline-none">
              <svg class="w-3 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>
              <span>4.5</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
