<div class="min-h-screen bg-gray-100 py-6 grid-cols-1 grid md:grid-cols-3 sm:py-12 font-exo">
  <!-- Card Small -->
  <div class="w-9 h-9 relative">
    <button class="focus:outline-none hover:text-gray-600">
      <svg class="w-8 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
      </svg>
    </button>

    <div class="w-32 absolute shadow-lg h-auto right-0 top-0 -mr-28 mt-4 py-1 bg-gray-50 rounded flex flex-col overflow-hidden">
      <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-100 inline-flex space-x-2">
        <span>Edit</span>
      </button>
      <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-100 inline-flex space-x-2">
        <span>Archive</span>
      </button>
      <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-100 inline-flex space-x-2">
        <span>Delete</span>
      </button>
    </div>
  </div>
  <!-- End Card Small -->

  <!-- Card Medium -->
  <div class="w-9 h-9 relative">
    <button class="focus:outline-none hover:text-gray-600">
      <svg class="w-8 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
      </svg>
    </button>

    <div class="w-56 absolute shadow-lg h-auto right-0 top-0 -mr-56 mt-8 py-1 bg-gray-50 rounded overflow-hidden">
      <div class="flex justify-between items-center border-b mx-3">
        <div class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 inline-flex space-x-2">
          <span>List Actions</span>
        </div>
        <svg class="w-5 text-gray-500 hover:text-gray-700 font-semibold cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
      <div class="flex flex-col border-b mx-3">
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Add Card...</span>
        </button>
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Copy List...</span>
        </button>
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Move Card...</span>
        </button>
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Watch</span>
        </button>
      </div>
      <div class="flex flex-col border-b mx-3">
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Sort By...</span>
        </button>
      </div>
      <div class="flex flex-col border-b mx-3">
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Move All Card in This List...</span>
        </button>
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Archive All Card in This List...</span>
        </button>
      </div>
      <div class="flex flex-col mx-3">
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-gray-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Archive This List</span>
        </button>
        <button type="button" class="w-full text-xs group transition-colors duration-300 text-red-700 font-semibold focus:outline-none py-2 px-3 hover:text-gray-900 hover:bg-gray-200 inline-flex space-x-2">
          <span>Delete</span>
        </button>
      </div>
    </div>
  </div>
  <!-- End Card Medium -->

  <!-- Card Big -->
  <div class="w-9 h-9 relative">
    <button class="focus:outline-none hover:text-gray-600">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
      </svg>
    </button>
    <div class="w-44 absolute shadow-lg h-auto left-0 top-0 -ml-44 mt-4 pt-2 bg-gray-50 rounded-xl rounded-tr-sm flex flex-col overflow-hidden">
      <button type="button" class="w-full group transition-colors duration-300 text-gray-500 focus:outline-none py-2 px-3 hover:bg-gray-100 inline-flex space-x-2">
        <svg class="w-5 transition-colors duration-300 group-hover:text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
          <path fill="#fff" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
        </svg>
        <span class="font-semibold">Profile</span>
      </button>
      <button type="button" class="w-full group transition-colors duration-300 text-gray-500 focus:outline-none py-2 px-3 hover:bg-gray-100 inline-flex space-x-2">
        <svg class="w-5 transition-colors duration-300 group-hover:text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
        </svg>
        <span class="font-semibold">Profile</span>
      </button>
      <button type="button" class="w-full group transition-colors duration-300 text-gray-500 focus:outline-none py-2 px-3 hover:bg-gray-100 inline-flex space-x-2">
        <svg class="w-5 transition-colors duration-300 group-hover:text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
        <span class="font-semibold">Profile</span>
      </button>
      <button type="button" class="w-full group transition-colors duration-300 text-gray-500 focus:outline-none py-2 px-3 hover:bg-gray-100 inline-flex space-x-2">
        <svg class="w-5 transition-colors duration-300 group-hover:text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
        </svg>
        <span class="font-semibold">Profile</span>
      </button>
      <div class="w-full grid grid-cols-3 border-t text-center">
        <button class="py-1 w-16 text-gray-500 focus:outline-none hover:bg-gray-100 hover:text-green-500">
          <svg class="w-8 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
          </svg>
        </button>
        <button class="py-1 w-16 text-gray-500 focus:outline-none hover:bg-gray-100 hover:text-green-500">
          <svg class="w-8 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
          </svg>
        </button>
        <button class="py-1 w-16 text-gray-500 focus:outline-none hover:bg-gray-100 hover:text-green-500">
          <svg class="w-8 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- End Card Big -->
</div>
