<div class="min-h-screen bg-gray-200 py-6 flex flex-col space-y-3 justify-center sm:py-12">
  <div class="bg-white flex flex-col max-h-80 w-64 mx-auto rounded-lg p-5 font-exo">
    <div class="w-full h-1/2 rounded bg-purple-200 overflow-hidden">
      <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1545235617-7a424c1a60cc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fHVpfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="d-img">
    </div>
    <div class="w-full flex items-center py-2 justify-between">
      <div>
        <span class="font-bold">
          Slack
        </span>
      </div>
      <span>
        <svg class="cursor-pointer w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
        </svg>
      </span>
    </div>
    <p class="text-xs text-gray-500 font-medium">These project will need a new brand identity where they will get recognize</p>
    <div class="inline-flex space-x-2 text-xs mt-2">
      <span class="py-0.5 px-2.5 bg-yellow-100 text-yellow-700 font-bold rounded-sm">IOS APP</span>
      <span class="py-0.5 px-2.5 bg-green-100 text-green-700 font-bold rounded-sm">ANDROID</span>
    </div>
    <div class="w-full flex items-center mt-3 justify-between">
      <div class="inline-flex text-gray-500 items-center space-x-4">
        <svg class="cursor-pointer w-3.5 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
        </svg>
        <div class="inline-flex space-x-1 text-xs font-semibold">
          <span>3</span>
          <svg class="cursor-pointer w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
          </svg>
        </div>
      </div>
      <div class="inline-flex -space-x-2">
       <img class="rounded-full border border-white w-8 ring-2 cursor-pointer ring-gray-200 ring-opacity-30" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/scientist_einstein_avatar_professor-128.png" alt="i-1">
       <img class="rounded-full border border-white w-8 ring-2 cursor-pointer ring-gray-200 ring-opacity-30" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" alt="i-1">
       <img class="rounded-full border border-white w-8 ring-2 cursor-pointer ring-gray-200 ring-opacity-30" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_female_woman_avatar-128.png" alt="i-1">
      </div>
    </div>
  </div>
  <div class="bg-white flex flex-col max-h-80 w-64 mx-auto rounded-lg p-5 font-exo">

    <div class="w-full flex items-center py-2 justify-between">
      <div>
        <span class="font-bold">
          Twitter
        </span>
      </div>
      <span>
        <svg class="cursor-pointer w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
        </svg>
      </span>
    </div>
    <p class="text-xs text-gray-500 font-medium">These project will need a new brand identity where they will get recognize</p>
    <div class="inline-flex space-x-2 text-xs mt-2">
      <span class="py-0.5 px-2.5 bg-blue-100 text-blue-700 font-bold rounded-sm">WEBSITE</span>
    </div>
    <div class="w-full flex items-center mt-3 justify-between">
      <div class="inline-flex text-gray-500 items-center space-x-4">
        <svg class="cursor-pointer w-3.5 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
        </svg>
        <div class="inline-flex space-x-1 text-xs font-semibold">
          <span>3</span>
          <svg class="cursor-pointer w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
          </svg>
        </div>
      </div>
      <div class="inline-flex -space-x-2">
       <img class="rounded-full border border-white w-8 ring-2 cursor-pointer ring-gray-200 ring-opacity-30" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/scientist_einstein_avatar_professor-128.png" alt="i-1">
       <img class="rounded-full border border-white w-8 ring-2 cursor-pointer ring-gray-200 ring-opacity-30" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" alt="i-1">
       <img class="rounded-full border border-white w-8 ring-2 cursor-pointer ring-gray-200 ring-opacity-30" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_female_woman_avatar-128.png" alt="i-1">
      </div>
    </div>
  </div>
</div>
