<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <ul class="bg-gray-50 rounded-3xl p-2 sm:p-5 xl:p-6">
    <li>
      <article>
        <a href="https://blog.tailwindcss.com/tailwindcss-v2" class="grid md:grid-cols-8 xl:grid-cols-9 items-start relative rounded-xl p-3 sm:p-5 xl:p-6 overflow-hidden hover:bg-white"
          ><h3 class="font-semibold text-gray-900 md:col-start-3 md:col-span-6 xl:col-start-3 xl:col-span-7 mb-1 ml-9 md:ml-0">Tailwind CSS v2.0</h3>
          <time datetime="2020-11-11T17:45:00.000Z" class="md:col-start-1 md:col-span-2 row-start-1 md:row-end-3 flex items-center font-medium mb-1 md:mb-0">
            <svg viewBox="0 0 12 12" class="w-3 h-3 mr-6 overflow-visible text-green-400">
              <circle cx="6" cy="6" r="6" fill="currentColor"></circle>
              <circle cx="6" cy="6" r="11" fill="none" stroke="currentColor" stroke-width="2"></circle>
              <path d="M 6 18 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-gray-200"></path>
            </svg>
            Nov 19, 2020</time
          >
          <p class="md:col-start-3 md:col-span-6 xl:col-span-7 ml-9 md:ml-0">Today we're finally releasing Tailwind CSS v2.0, including an all-new color palette, dark mode support, and tons more!</p></a
        >
      </article>
    </li>
    <li>
      <article>
        <a href="https://blog.tailwindcss.com/tailwindcss-1-9" class="grid md:grid-cols-8 xl:grid-cols-9 items-start relative rounded-xl p-3 sm:p-5 xl:p-6 overflow-hidden hover:bg-white"
          ><h3 class="font-semibold text-gray-900 md:col-start-3 md:col-span-6 xl:col-start-3 xl:col-span-7 mb-1 ml-9 md:ml-0">Tailwind CSS v1.9.0</h3>
          <time datetime="2020-10-13T18:30:00.000Z" class="md:col-start-1 md:col-span-2 row-start-1 md:row-end-3 flex items-center font-medium mb-1 md:mb-0">
            <svg viewBox="0 0 12 12" class="w-3 h-3 mr-6 overflow-visible text-gray-300">
              <circle cx="6" cy="6" r="6" fill="currentColor"></circle>
              <path d="M 6 -6 V -30" fill="none" stroke-width="2" stroke="currentColor" class="text-gray-200"></path>
              <path d="M 6 18 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-gray-200"></path>
            </svg>
            Oct 14, 2020</time
          >
          <p class="md:col-start-3 md:col-span-6 xl:col-span-7 ml-9 md:ml-0">We just released Tailwind CSS v1.9 which adds support for configuration presets, useful new CSS grid utilities, extended border radius, rotate, and skew scales, helpful accessibility improvements, and more!</p></a
        >
      </article>
    </li>
  </ul>
</div>