<div class="min-h-screen bg-gray-50 mx-auto">
  <!-- Header Fixed -->
  <div class="flex items-center justify-between fixed top-0 bg-gray-50 w-full h-16 border-b">
    <div class="flex p-2 items-center">
      <button class="p-3 rounded-full transition hover:bg-gray-200 focus:outline-none">
        <svg class="w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <a href="https://translate.google.com/" class="inline-flex items-center space-x-1">
        <img class="w-20" alt="google-logo" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.YPcn6gQ7DWbkSbltvG2krAHaDF%26pid%3DApi&f=1" />
        <h1 class="font-semibold text-gray-600 text-xl">Terjemahan</h1>
      </a>
    </div>
    <div class="flex p-2 items-center space-x-2">
      <button class="p-2 rounded-full transition hover:bg-gray-200 focus:outline-none">
        <svg class="w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
        </svg>
      </button>
      <a href="https://translate.google.com/" class="inline-flex items-center space-x-1 border-2 rounded-full hover:border-gray-300">
        <img class="w-auto" alt="google-logo" src="https://lh3.googleusercontent.com/ogw/ADGmqu_XIpCJ0M5ygJzio6w9JQs7eoPFzwY7y8WiB1eUlg=s32-c-mo" />
      </a>
    </div>
  </div>
  <!-- End Header Fixed -->

  <!-- Translate Options -->
  <div class="h-44 border-b bg-gray-100 mt-16 p-6">
    <div class="flex space-x-3">
      <button class="py-2 px-3 flex items-center rounded transition bg-blue-100 focus:outline-none border border-blue-200 text-blue-600">
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129" />
        </svg>
        <span class="font-semibold text-sm ml-1">Teks</span>
      </button>
      <button class="py-2 px-3 flex items-center rounded transition bg-blue-50 focus:bg-blue-100 focus:outline-none border border-blue-200 text-blue-600">
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z" clip-rule="evenodd" />
        </svg>
        <span class="font-semibold text-sm ml-1">Dokumen</span>
      </button>
    </div>
  </div>
  <!-- End Translate Options -->

  <!-- Main Section  -->
  <div class="h-full border-b -mt-28 p-6">
    <div class="w-full h-52 bg-gray-50 shadow ring ring-gray-400 ring-opacity-0 rounded-xl overflow-hidden">
      <!-- Header language -->
      <div class="w-full flex justify-center md:justify-start bg-gray-50 h-12 border-b px-4 py-3 font-semibold text-gray-500 text-sm">
        <h1 class="mr-4 hidden md:block">DETEKSI BAHASA</h1>
        <div class="flex items-center space-x-4">
          <button class="py-2 px-4 flex items-center transition focus:outline-none border-b-2 border-transparent focus:border-blue-500 focus:text-blue-600">
            <span class="font-semibold text-sm ml-1 uppercase">Inggris</span>
          </button>
          <button class="py-2 px-4 hidden md:flex items-center transition focus:outline-none border-b-2 border-transparent focus:border-blue-500 focus:text-blue-600">
            <span class="font-semibold text-sm ml-1 uppercase">Korea</span>
          </button>
          <button class="py-2 px-4 hidden md:flex items-center transition focus:outline-none border-b-2 border-transparent focus:border-blue-500 focus:text-blue-600">
            <span class="font-semibold text-sm ml-1 uppercase">Indonesia</span>
          </button>
          <button class="py-2 px-4 hidden md:flex items-center transition focus:outline-none border-b-2 border-transparent">
            <svg class="w-5 stroke-current stroke-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
        </div>
        <button class="py-2 px-4 flex items-center transition focus:outline-none border-b-2 border-transparent lg:ml-24">
          <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" />
          </svg>
        </button>
        <div class="flex items-center space-x-4">
          <button class="py-2 px-4 flex items-center transition focus:outline-none border-b-2 border-transparent focus:border-blue-500 focus:text-blue-600">
            <span class="font-semibold text-sm ml-1 uppercase">Indonesia</span>
          </button>
          <button class="py-2 px-4 hidden md:flex items-center transition focus:outline-none border-b-2 border-transparent focus:border-blue-500 focus:text-blue-600">
            <span class="font-semibold text-sm ml-1 uppercase">Inggris</span>
          </button>
          <button class="py-2 px-4 hidden md:flex items-center transition focus:outline-none border-b-2 border-transparent focus:border-blue-500 focus:text-blue-600">
            <span class="font-semibold text-sm ml-1 uppercase">Korea</span>
          </button>
          <button class="py-2 px-4 hidden md:flex items-center transition focus:outline-none border-b-2 border-transparent">
            <svg class="w-5 stroke-current stroke-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
        </div>
      </div>
      <!-- End Header language -->

      <div class="w-full h-full bg-gray-50 flex flex-col md:flex-row">
        <div class="md:w-1/2 w-full flex p-3">
          <div class="flex-1 p-2">
            <textarea class="w-full text-lg text-gray-900 h-auto bg-transparent focus:outline-none resize">help</textarea>
            <p class="w-full text-sm text-gray-500 h-auto bg-transparent focus:outline-none resize">help</p>
            <div class="flex items-center justify-between">
              <div class="inline-flex items-center py-3 space-x-4">
                <svg class="text-gray-600 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
                </svg>
                <svg class="text-gray-600 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
                </svg>
              </div>
              <div class="inline-flex items-center space-x-4">
                <span class="text-xs text-gray-600 font-medium">4/5000</span>
                <div class="inline-flex items-center space-x-2">
                  <svg class="w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                  </svg>
                  <svg class="w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-none w-10">
            <button class="py-2 px-4 flex items-center transition focus:outline-none border-b-2 border-transparent">
              <svg class="text-gray-400 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="md:w-1/2 w-full bg-gray-100">
          <div class="w-full flex p-3">
            <div class="flex-1 p-2">
              <textarea class="w-full text-lg text-gray-900 h-auto bg-transparent focus:outline-none resize">Tolong</textarea>
            </div>
            <div class="flex-none w-10">
              <button class="py-2 px-4 flex items-center transition focus:outline-none border-b-2 border-transparent">
                <svg class="w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                </svg>
              </button>
            </div>
          </div>
          <div class="flex items-center justify-between px-5">
            <div class="inline-flex items-center py-3 space-x-4">
              <svg class="text-gray-600 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
              </svg>
            </div>
            <div class="inline-flex items-center space-x-4">
              <div class="inline-flex items-center space-x-6">
                <svg class="w-5 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                </svg>
                <svg class="w-5 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
                <svg class="w-5 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-2 py-5">
      <div class="w-full h-auto p-4 bg-gray-50 border border-gray-300 rounded-xl overflow-hidden">
        <span class="text-gray-400">Definis</span><span> help</span>
        <span class="block font-semibold text-blue-500 mt-4">Verba</span>
        <div></div>
        </div>
      <div class="w-full h-auto p-4 bg-gray-50 border border-gray-300 rounded-xl overflow-hidden">
        <span class="text-gray-400">Terjemahan dari</span><span> help</span>
        <span class="block font-semibold text-blue-500 mt-4">Verba</span>
        <div class="grid grid-cols-3">
          <span>Test Grid 1</span>
          <span>Test Grid 2</span>
          <span>Test Grid 3</span>
        </div>
        </div>
    </div>
  </div>
  <!-- End Main Section  -->
</div>