<div class="min-h-screen bg-gray-400 py-6 flex flex-wrap justify-center">
  <div class="w-72 h-full m-2 bg-gray-50 shadow-sm flex flex-col justify-between">
    <!-- Header Card -->
    <div class="bg-gray-50 w-full h-12 flex-none flex items-center justify-between">
      <div class="inline-flex items-center space-x-2 p-3">
        <div class="rounded-full flex items-center justify-center w-10 h-10 overflow-hidden border-2 bg-gradient-to-tr from-red-400 to-indigo-400">
          <img class="w-8 h-8 rounded-full" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60" />
        </div>
        <span class="font-semibold text-sm">kemenkeuri</span>
      </div>
      <button class="focus:outline-none hover:text-gray-700">
        <svg class="w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
    </div>
    <!-- End Header Card -->

    <!-- Media Card -->
    <div class="w-full h-auto flex-1">
      <img class="w-full h-full object-cover" alt="img" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60" />
    </div>
    <!-- End Media Card -->

    <!-- Footer Card -->
    <div class="bg-gray-50 w-full flex-none flex items-center justify-between p-2">
      <div class="inline-flex items-center space-x-3">
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </button>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
          </svg>
        </button>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
          </svg>
        </button>
        <div class="inline-flex space-x-1 text-gray-700">
          <span>&bull;</span>
          <span>&bull;</span>
          <span>&bull;</span>
          <span>&bull;</span>
        </div>
      </div>
      <div>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
          </svg>
        </button>
      </div>
    </div>
    <!-- End Footer Card -->

    <!-- Comment and Captions Card -->
    <div class="p-3 text-sm">
      <span class="font-semibold block">35 likes</span>
      <p>
        <span class="font-semibold cursor-pointer">kemenkeuri </span>
        Kalau Temankeu jadi pengusaha, apa sih yang bisa bikin yakin buat berinvestasi? <br />
        <br />Jawabannya pasti KEMUDAHAN BERUSAHA & KEPASTIAN HUKUM.<br />
        <br />
        Dua hal ini sedang diupayakan Pemerintah untuk menarik investasi lewat Klaster Kemudahan Berusaha bidang Perpajakan. Agar apa? Yap, memperkuat perekonomian Indonesia & pembangunan nasional, serta membuka lapangan kerja seluas-luasnya!<br />
        <br />
        Geser untuk tahu tujuan & pokok-pokok Klaster Kemudahan Berusaha bidang Perpajakan dalam UU Cipta Kerja. 👉<br />
        <br />
        <a href="#" class="text-blue-500">#ReformasiPerpajakan</a>
        <a href="#" class="text-blue-500"> #PajakKitaUntukKita</a>
        <br />
        <br />
        Infografis: BiroKLI/ <a href="#" class="text-blue-500"> @lutfialzuhri</a>
      </p>
      <p class="text-xs text-gray-500 mt-1">16h</p>
    </div>
    <!-- End Comment and Captions Card -->
  </div>

  <div class="w-72 h-full m-2 bg-gray-50 shadow-sm flex flex-col justify-between">
    <!-- Header Card -->
    <div class="bg-gray-50 w-full h-12 flex-none flex items-center justify-between">
      <div class="inline-flex items-center space-x-2 p-3">
        <div class="rounded-full flex items-center justify-center w-10 h-10 overflow-hidden border-2 bg-gradient-to-tr from-red-400 to-indigo-400">
          <img class="w-8 h-8 rounded-full" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60" />
        </div>
        <span class="font-semibold text-sm">kemenkeuri</span>
      </div>
      <button class="focus:outline-none hover:text-gray-700">
        <svg class="w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
    </div>
    <!-- End Header Card -->

    <!-- Media Card -->
    <div class="w-full h-auto flex-1">
      <img class="w-full h-full object-cover" alt="img" src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60" />
    </div>
    <!-- End Media Card -->

    <!-- Footer Card -->
    <div class="bg-gray-50 w-full flex-none flex items-center justify-between p-2">
      <div class="inline-flex items-center space-x-3">
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </button>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
          </svg>
        </button>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
          </svg>
        </button>
        <div class="inline-flex space-x-1 text-gray-700">
          <span>&bull;</span>
          <span>&bull;</span>
        </div>
      </div>
      <div>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
          </svg>
        </button>
      </div>
    </div>
    <!-- End Footer Card -->

    <!-- Comment and Captions Card -->
    <div class="p-3 text-sm">
      <span class="font-semibold block">35 likes</span>
      <p>
        <span class="font-semibold cursor-pointer">kemenkeuri </span>
        Kalau Temankeu jadi pengusaha, apa sih yang bisa bikin yakin buat berinvestasi? <br />
        <br />Jawabannya pasti KEMUDAHAN BERUSAHA & KEPASTIAN HUKUM.<br />
        <br />
        Dua hal ini sedang diupayakan Pemerintah untuk menarik investasi lewat Klaster Kemudahan Berusaha bidang Perpajakan. Agar apa? Yap, memperkuat perekonomian Indonesia & pembangunan nasional, serta membuka lapangan kerja seluas-luasnya!<br />
        <br />
        Geser untuk tahu tujuan & pokok-pokok Klaster Kemudahan Berusaha bidang Perpajakan dalam UU Cipta Kerja. 👉<br />
        <br />
        <a href="#" class="text-blue-500">#ReformasiPerpajakan</a>
        <a href="#" class="text-blue-500"> #PajakKitaUntukKita</a>
        <br />
        <br />
        Infografis: BiroKLI/ <a href="#" class="text-blue-500"> @lutfialzuhri</a>
      </p>
      <p class="text-xs text-gray-500 mt-1">16h</p>
    </div>
    <!-- End Comment and Captions Card -->
  </div>

  <div class="w-72 h-full m-2 bg-gray-50 shadow-sm flex flex-col justify-between">
    <!-- Header Card -->
    <div class="bg-gray-50 w-full h-12 flex-none flex items-center justify-between">
      <div class="inline-flex items-center space-x-2 p-3">
        <div class="rounded-full flex items-center justify-center w-10 h-10 overflow-hidden border-2 bg-gradient-to-tr from-red-400 to-indigo-400">
          <img class="w-8 h-8 rounded-full" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60" />
        </div>
        <span class="font-semibold text-sm">kemenkeuri</span>
      </div>
      <button class="focus:outline-none hover:text-gray-700">
        <svg class="w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
    </div>
    <!-- End Header Card -->

    <!-- Media Card -->
    <div class="w-full h-auto flex-1">
      <img class="w-full h-full object-cover" alt="img" src="https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" />
    </div>
    <!-- End Media Card -->

    <!-- Footer Card -->
    <div class="bg-gray-50 w-full flex-none flex items-center justify-between p-2">
      <div class="inline-flex items-center space-x-3">
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </button>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
          </svg>
        </button>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
          </svg>
        </button>
        <div class="inline-flex space-x-1 text-gray-700">
          <span>&bull;</span>
          <span>&bull;</span>
        </div>
      </div>
      <div>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
          </svg>
        </button>
      </div>
    </div>
    <!-- End Footer Card -->

    <!-- Comment and Captions Card -->
    <div class="p-3 text-sm">
      <span class="font-semibold block">35 likes</span>
      <p>
        <span class="font-semibold cursor-pointer">kemenkeuri </span>
        Kalau Temankeu jadi pengusaha, apa sih yang bisa bikin yakin buat berinvestasi? <br />
        <br />Jawabannya pasti KEMUDAHAN BERUSAHA & KEPASTIAN HUKUM.<br />
        <br />
        Dua hal ini sedang diupayakan Pemerintah untuk menarik investasi lewat Klaster Kemudahan Berusaha bidang Perpajakan. Agar apa? Yap, memperkuat perekonomian Indonesia & pembangunan nasional, serta membuka lapangan kerja seluas-luasnya!<br />
        <br />
        Geser untuk tahu tujuan & pokok-pokok Klaster Kemudahan Berusaha bidang Perpajakan dalam UU Cipta Kerja. 👉<br />
        <br />
        <a href="#" class="text-blue-500">#ReformasiPerpajakan</a>
        <a href="#" class="text-blue-500"> #PajakKitaUntukKita</a>
        <br />
        <br />
        Infografis: BiroKLI/ <a href="#" class="text-blue-500"> @lutfialzuhri</a>
      </p>
      <p class="text-xs text-gray-500 mt-1">16h</p>
    </div>
    <!-- End Comment and Captions Card -->
  </div>

  <div class="w-72 h-full m-2 bg-gray-50 shadow-sm flex flex-col justify-between">
    <!-- Header Card -->
    <div class="bg-gray-50 w-full h-12 flex-none flex items-center justify-between">
      <div class="inline-flex items-center space-x-2 p-3">
        <div class="rounded-full flex items-center justify-center w-10 h-10 overflow-hidden border-2 bg-gradient-to-tr from-red-400 to-indigo-400">
          <img class="w-8 h-8 rounded-full" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60" />
        </div>
        <span class="font-semibold text-sm">kemenkeuri</span>
      </div>
      <button class="focus:outline-none hover:text-gray-700">
        <svg class="w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
    </div>
    <!-- End Header Card -->

    <!-- Media Card -->
    <div class="w-full h-auto flex-1">
      <img class="w-full h-full object-cover" alt="img" src="https://images.unsplash.com/photo-1506084868230-bb9d95c24759?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" />
    </div>
    <!-- End Media Card -->

    <!-- Footer Card -->
    <div class="bg-gray-50 w-full flex-none flex items-center justify-between p-2">
      <div class="inline-flex items-center space-x-3">
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </button>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
          </svg>
        </button>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
          </svg>
        </button>
        <div class="inline-flex space-x-1 text-gray-700">
          <span>&bull;</span>
          <span>&bull;</span>
        </div>
      </div>
      <div>
        <button class="focus:outline-none hover:text-gray-700">
          <svg class="w-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
          </svg>
        </button>
      </div>
    </div>
    <!-- End Footer Card -->

    <!-- Comment and Captions Card -->
    <div class="p-3 text-sm">
      <span class="font-semibold block">35 likes</span>
      <p>
        <span class="font-semibold cursor-pointer">kemenkeuri </span>
        Kalau Temankeu jadi pengusaha, apa sih yang bisa bikin yakin buat berinvestasi? <br />
        <br />Jawabannya pasti KEMUDAHAN BERUSAHA & KEPASTIAN HUKUM.<br />
        <br />
        Dua hal ini sedang diupayakan Pemerintah untuk menarik investasi lewat Klaster Kemudahan Berusaha bidang Perpajakan. Agar apa? Yap, memperkuat perekonomian Indonesia & pembangunan nasional, serta membuka lapangan kerja seluas-luasnya!<br />
        <br />
        Geser untuk tahu tujuan & pokok-pokok Klaster Kemudahan Berusaha bidang Perpajakan dalam UU Cipta Kerja. 👉<br />
        <br />
        <a href="#" class="text-blue-500">#ReformasiPerpajakan</a>
        <a href="#" class="text-blue-500"> #PajakKitaUntukKita</a>
        <br />
        <br />
        Infografis: BiroKLI/ <a href="#" class="text-blue-500"> @lutfialzuhri</a>
      </p>
      <p class="text-xs text-gray-500 mt-1">16h</p>
    </div>
    <!-- End Comment and Captions Card -->
  </div>
</div>
