<div class="h-screen overflow-hidden max-w-sm mx-auto bg-gray-900 flex flex-col font-exo">
  <!-- Header -->
  <div class="flex px-6 py-4 items-center justify-between">
    <div>
      <button type="button" class="focus:outline-none text-gray-400 transition hover:text-gray-300">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </button>
    </div>
    <div>
      <button type="button" class="p-3 text-gray-300 bg-gray-800 rounded-full relative focus:outline-none">
        <div class="absolute right-2 w-2.5 h-2.5 bg-red-500 rounded-full"></div>
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
      </button>
    </div>
  </div>
  <!-- End Header -->

  <!-- Hero -->
  <div class="px-6">
    <h1 class="text-2xl font-semibold text-gray-400">Hi David</h1>
    <p class="text-xs font-semibold text-gray-400">Welcome Back</p>
    <button type="button" class="w-auto px-3 py-2 hover:bg-purple-700 focus:outline-none transition shadow-lg text-sm rounded-full bg-purple-800 mt-3 text-gray-200 font-semibold">+ Create Project</button>
  </div>
  <!-- End Hero -->

  <!-- Nav -->
  <div class="border-b-2 border-gray-800 flex items-center justify-between space-x-6 px-4 mt-5">
    <div class="border-b-2 border-purple-600 h-10">
      <button class="text-gray-300 text-xs font-semiboldfocus:outline-none"><span class="mr-1">All</span> <span class="rounded-md h-full bg-gray-500 px-1.5 text-xs hover:bg-purple-400">45</span></button>
    </div>
    <div class="border-b-2 border-transparent h-10">
      <button class="text-gray-300 text-xs font-semibold focus:outline-none"><span class="mr-1">Started</span> <span class="rounded-md h-full bg-gray-500 px-1.5 text-xs hover:bg-purple-400">45</span></button>
    </div>
    <div class="border-b-2 border-transparent h-10">
      <button class="text-gray-300 text-xs font-semibold focus:outline-none"><span class="mr-1">Approval</span> <span class="rounded-md h-full bg-gray-500 px-1.5 text-xs hover:bg-purple-400">45</span></button>
    </div>
    <div class="border-b-2 border-transparent h-10">
      <button class="text-gray-500 hover:text-purple-500 focus:outline-none">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg>
      </button>
    </div>
  </div>
  <!-- End Nav -->
  <!-- Main -->
  <div class="px-4 mt-4">
    <h1 class="text-gray-300 text-xl pb-3">Recent Activities</h1>
    <div class="max-h-80 overflow-y-auto pb-6">
      <div class="w-full h-auto bg-purple-500 rounded-2xl p-4 mt-6 flex flex-col items-center shadow-lg cursor-pointer text-gray-200">
        <h1 class="font-semibold text-lg">App Development</h1>
        <h1 class="text-xs">Belong Interactive</h1>
        <div class="inline-flex justify-start mt-2">
          <img class="w-8 h-8 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/nun_sister_woman_avatar-128.png" />
        </div>
        <div class="w-full">
          <div class="flex justify-between items-center font-semibold text-xs">
            <span>Progress</span>
            <span>34%</span>
          </div>
          <div class="w-full h-1 bg-purple-100 relative rounded-full overflow-hidden mt-2">
            <div class="w-1/2 h-1 bg-green-400 rounded-full"></div>
          </div>
        </div>
        <div class="flex w-full items-center justify-between mt-3">
          <div class="inline-flex items-center space-x-2">
            <button class="focus:outline-none hover:text-purple-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              <span class="text-xs">5</span>
            </button>
            <button class="focus:outline-none hover:text-purple-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
              <span class="text-xs">3</span>
            </button>
          </div>
          <div>
            <button class="py-1 px-2 leading-none rounded-full bg-purple-400 inline-flex space-x-2 hover:bg-purple-900 transition ease-linear focus:outline-none">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <spa class="text-xs">2 Week left</spa>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full h-auto bg-green-500 rounded-2xl p-4 mt-6 flex flex-col items-center shadow-lg cursor-pointer text-gray-200">
        <h1 class="font-semibold text-lg">App Development</h1>
        <h1 class="text-xs">Belong Interactive</h1>
        <div class="inline-flex justify-start mt-2">
          <img class="w-8 h-8 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/nun_sister_woman_avatar-128.png" />
        </div>
        <div class="w-full">
          <div class="flex justify-between items-center font-semibold text-xs">
            <span>Progress</span>
            <span>34%</span>
          </div>
          <div class="w-full h-1 bg-green-100 relative rounded-full overflow-hidden mt-2">
            <div class="w-1/2 h-1 bg-green-400 rounded-full"></div>
          </div>
        </div>
        <div class="flex w-full items-center justify-between mt-3">
          <div class="inline-flex items-center space-x-2">
            <button class="focus:outline-none hover:text-green-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              <span class="text-xs">5</span>
            </button>
            <button class="focus:outline-none hover:text-green-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
              <span class="text-xs">3</span>
            </button>
          </div>
          <div>
            <button class="py-1 px-2 leading-none rounded-full bg-green-400 inline-flex space-x-2 hover:bg-green-700 transition ease-linear focus:outline-none">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <spa class="text-xs">2 Week left</spa>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full h-auto bg-blue-500 rounded-2xl p-4 mt-6 flex flex-col items-center shadow-lg cursor-pointer text-gray-200">
        <h1 class="font-semibold text-lg">App Development</h1>
        <h1 class="text-xs">Belong Interactive</h1>
        <div class="inline-flex justify-start mt-2">
          <img class="w-8 h-8 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/nun_sister_woman_avatar-128.png" />
        </div>
        <div class="w-full">
          <div class="flex justify-between items-center font-semibold text-xs">
            <span>Progress</span>
            <span>34%</span>
          </div>
          <div class="w-full h-1 bg-blue-100 relative rounded-full overflow-hidden mt-2">
            <div class="w-1/2 h-1 bg-blue-400 rounded-full"></div>
          </div>
        </div>
        <div class="flex w-full items-center justify-between mt-3">
          <div class="inline-flex items-center space-x-2">
            <button class="focus:outline-none hover:text-blue-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              <span class="text-xs">5</span>
            </button>
            <button class="focus:outline-none hover:text-blue-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
              <span class="text-xs">3</span>
            </button>
          </div>
          <div>
            <button class="py-1 px-2 leading-none rounded-full bg-blue-400 inline-flex space-x-2 hover:bg-blue-700 transition ease-linear focus:outline-none">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <spa class="text-xs">2 Week left</spa>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full h-auto bg-pink-500 rounded-2xl p-4 mt-6 flex flex-col items-center shadow-lg cursor-pointer text-gray-200">
        <h1 class="font-semibold text-lg">App Development</h1>
        <h1 class="text-xs">Belong Interactive</h1>
        <div class="inline-flex justify-start">
          <img class="w-8 h-8 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/nun_sister_woman_avatar-128.png" />
        </div>
        <div class="w-full">
          <div class="flex justify-between items-center font-semibold text-xs">
            <span>Progress</span>
            <span>34%</span>
          </div>
          <div class="w-full h-1 bg-pink-100 relative rounded-full overflow-hidden mt-2">
            <div class="w-1/2 h-1 bg-pink-400 rounded-full"></div>
          </div>
        </div>
        <div class="flex w-full items-center justify-between mt-3">
          <div class="inline-flex items-center space-x-2">
            <button class="focus:outline-none hover:text-pink-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              <span class="text-xs">5</span>
            </button>
            <button class="focus:outline-none hover:text-pink-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
              <span class="text-xs">3</span>
            </button>
          </div>
          <div>
            <button class="py-1 px-2 leading-none rounded-full bg-pink-400 inline-flex space-x-2 hover:bg-pink-700 transition ease-linear focus:outline-none">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <spa class="text-xs">2 Week left</spa>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full h-auto bg-red-500 rounded-2xl p-4 mt-6 flex flex-col items-center shadow-lg cursor-pointer text-gray-200">
        <h1 class="font-semibold text-lg">App Development</h1>
        <h1 class="text-xs">Belong Interactive</h1>
        <div class="inline-flex justify-start mt-2">
          <img class="w-8 h-8 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/nun_sister_woman_avatar-128.png" />
        </div>
        <div class="w-full">
          <div class="flex justify-between items-center font-semibold text-xs">
            <span>Progress</span>
            <span>34%</span>
          </div>
          <div class="w-full h-1 bg-red-100 relative rounded-full overflow-hidden mt-2">
            <div class="w-1/2 h-1 bg-red-400 rounded-full"></div>
          </div>
        </div>
        <div class="flex w-full items-center justify-between mt-3">
          <div class="inline-flex items-center space-x-2">
            <button class="focus:outline-none hover:text-red-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              <span class="text-xs">5</span>
            </button>
            <button class="focus:outline-none hover:text-red-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
              <span class="text-xs">3</span>
            </button>
          </div>
          <div>
            <button class="py-1 px-2 leading-none rounded-full bg-red-400 inline-flex space-x-2 hover:bg-red-700 transition ease-linear focus:outline-none">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <spa class="text-xs">2 Week left</spa>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full h-auto bg-yellow-500 rounded-2xl p-4 mt-6 flex flex-col items-center shadow-lg cursor-pointer text-gray-200">
        <h1 class="font-semibold text-lg">App Development</h1>
        <h1 class="text-xs">Belong Interactive</h1>
        <div class="inline-flex justify-start mt-2">
          <img class="w-8 h-8 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/nun_sister_woman_avatar-128.png" />
        </div>
        <div class="w-full">
          <div class="flex justify-between items-center font-semibold text-xs">
            <span>Progress</span>
            <span>34%</span>
          </div>
          <div class="w-full h-1 bg-yellow-100 relative rounded-full overflow-hidden mt-2">
            <div class="w-1/2 h-1 bg-yellow-400 rounded-full"></div>
          </div>
        </div>
        <div class="flex w-full items-center justify-between mt-3">
          <div class="inline-flex items-center space-x-2">
            <button class="focus:outline-none hover:text-yellow-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              <span class="text-xs">5</span>
            </button>
            <button class="focus:outline-none hover:text-yellow-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
              <span class="text-xs">3</span>
            </button>
          </div>
          <div>
            <button class="py-1 px-2 leading-none rounded-full bg-yellow-400 inline-flex space-x-2 hover:bg-yellow-700 transition ease-linear focus:outline-none">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <spa class="text-xs">2 Week left</spa>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full h-auto bg-cyan-500 rounded-2xl p-4 mt-6 flex flex-col items-center shadow-lg cursor-pointer text-gray-200">
        <h1 class="font-semibold text-lg">App Development</h1>
        <h1 class="text-xs">Belong Interactive</h1>
        <div class="inline-flex justify-start mt-2">
          <img class="w-8 h-8 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-128.png" />
          <img class="w-8 h-8 -ml-3 rounded-full" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/nun_sister_woman_avatar-128.png" />
        </div>
        <div class="w-full">
          <div class="flex justify-between items-center font-semibold text-xs">
            <span>Progress</span>
            <span>34%</span>
          </div>
          <div class="w-full h-1 bg-cyan-100 relative rounded-full overflow-hidden mt-2">
            <div class="w-1/2 h-1 bg-cyan-400 rounded-full"></div>
          </div>
        </div>
        <div class="flex w-full items-center justify-between mt-3">
          <div class="inline-flex items-center space-x-2">
            <button class="focus:outline-none hover:text-cyan-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              <span class="text-xs">5</span>
            </button>
            <button class="focus:outline-none hover:text-cyan-800 transition inline-flex items-center space-x-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
              <span class="text-xs">3</span>
            </button>
          </div>
          <div>
            <button class="py-1 px-2 leading-none rounded-full bg-cyan-400 inline-flex space-x-2 hover:bg-cyan-700 transition ease-linear focus:outline-none">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <spa class="text-xs">2 Week left</spa>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main -->
</div>
