<div class="h-screen min-w-min max-w-sm overflow-hidden mx-auto bg-gray-900 flex flex-col justify-between font-exo">
  <!-- Header -->
  <div class="w-full h-12 px-4 flex items-center border-b border-gray-800">
    <div class="font-bold w-10 flex-none text-xl">
      <img class="w-6" src="https://avatars3.githubusercontent.com/u/51039205?s=60&v=4" alt="avatar" />
    </div>
    <div class="font-medium flex-1 flex items-center justify-between text-gray-200 text-xl">
      <span> Home </span>
      <button class="focus:outline-none text-gray-500 hover:text-blue-400 focus:text-blue-400 transition-colors duration-150 ease-linear">
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
        </svg>
      </button>
    </div>
  </div>
  <!-- End Header -->
  <!-- Main -->
  <div class="flex-1 overflow-y-auto flex flex-col">
    <!-- Tweet -->
    <div class="tweet-wrapper border-b border-gray-800">
      <div class="tweet-content">
        <div class="inline-flex items-center font-semibold text-sm space-x-1.5 text-gray-600 pl-8 pt-2">
          <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
          </svg>
          <span>Tailor Otwell⛵</span>
          <span class="text-xs font-bold">Retwetted</span>
        </div>
        <div class="w-full h-full px-4 flex items-start">
          <div class="font-bold w-10 flex-none text-xl">
            <img class="w-8 cursor-pointer" src="https://avatars3.githubusercontent.com/u/51039205?s=60&v=4" alt="avatar" />
          </div>
          <div class="text-sm text-gray-50">
            <div class="font-medium flex-1 flex items-center -mt-2 justify-between text-gray-200 text-xl">
              <p class="text-xs font-semibold"><span class="hover:underline">Eko Sutrisno</span> <span class="text-gray-400 font-normal">@eko_sutrrisno96 &bull; 2h</span></p>
              <button class="focus:outline-none rounded-full hover:bg-blue-500 hover:bg-opacity-20 p-1 hover:text-blue-400 focus:text-blue-400 text-gray-400 transition-colors duration-150 ease-linear">
                <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                </svg>
              </button>
            </div>
            <!-- Captions -->
            <div>
              <p class="mb-2">
                More <a href="#" class="text-blue-400 hover:underline">@tailwindui</a> components coming soon <br /><br />
                Working on a bunch of "detail screen" examples for the next update Eyes👀
              </p>
              <img class="rounded-xl w-full cursor-pointer" src="https://pbs.twimg.com/media/Eo-C5InXUAIb36M?format=jpg&name=360x360" alt="image-uplodaded" />
              <div class="w-full mt-2 text-gray-600 flex items-center justify-between">
                <div class="inline-flex hover:text-blue-400 cursor-pointer items-center">
                  <button class="focus:outline-none rounded-full hover:bg-blue-500 hover:bg-opacity-20 p-2 hover:text-blue-400 focus:text-blue-400 transition-colors duration-150 ease-linear">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                    </svg>
                  </button>
                  <span class="text-xs font-medium">40</span>
                </div>
                <div class="inline-flex hover:text-green-400 cursor-pointer items-center">
                  <button class="focus:outline-none inline-flex space-x-1.5 rounded-full hover:bg-green-500 hover:bg-opacity-20 p-2 hover:text-green-400 focus:text-green-400 transition-colors duration-150 ease-linear">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                  </button>
                  <span class="text-xs font-medium">59</span>
                </div>
                <div class="inline-flex hover:text-pink-400 cursor-pointer items-center">
                  <button class="focus:outline-none inline-flex space-x-1.5 rounded-full hover:bg-pink-500 hover:bg-opacity-20 p-2 hover:text-pink-400 focus:text-pink-400 transition-colors duration-150 ease-linear">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                  </button>
                  <span class="text-xs font-medium">1.2k</span>
                </div>
                <div class="inline-flex hover:text-cyan-400 cursor-pointer items-center">
                  <button class="focus:outline-none inline-flex space-x-1.5 rounded-full hover:bg-cyan-500 hover:bg-opacity-20 p-2 hover:text-cyan-400 focus:text-cyan-400 transition-colors duration-150 ease-linear">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                    </svg>
                  </button>
                  <span class="text-xs font-medium"></span>
                </div>
              </div>
            </div>
            <!-- End Caption -->
          </div>
        </div>
      </div>
      <div class="w-full h-8 px-4 flex items-center hover:bg-gray-800">
        <div class="font-bold w-10 flex-none"></div>
        <a href="." class="text-blue-400 text-sm">Show this thread</a>
      </div>
    </div>
    <div class="tweet-wrapper border-b border-gray-800">
      <div class="tweet-content">
        <div class="inline-flex items-center font-semibold text-sm space-x-1.5 text-gray-600 pl-8 pt-2">
          <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
          </svg>
          <span>Tailor Otwell⛵</span>
          <span class="text-xs font-bold">Retwetted</span>
        </div>
        <div class="w-full h-full px-4 flex items-start">
          <div class="font-bold w-10 flex-none text-xl">
            <img class="w-8 h-8 object-cover rounded-full cursor-pointer" src="https://pbs.twimg.com/media/Eo0p2lcXUAEp3LG?format=jpg&name=small" alt="avatar" />
          </div>
          <div class="text-sm text-gray-50">
            <div class="font-medium flex-1 flex items-center -mt-2 justify-between text-gray-200 text-xl">
              <p class="text-xs font-semibold"><span class="hover:underline">Steve Schoger</span> <span class="text-gray-400 font-normal">@steveschoger &bull; 2h</span></p>
              <button class="focus:outline-none rounded-full hover:bg-blue-500 hover:bg-opacity-20 p-1 hover:text-blue-400 focus:text-blue-400 text-gray-400 transition-colors duration-150 ease-linear">
                <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                </svg>
              </button>
            </div>
            <!-- Captions -->
            <div>
              <p class="mb-2">
                More <a href="#" class="text-blue-400 hover:underline">@tailwindui</a> components coming soon <br /><br />
                Working on a bunch of "detail screen" examples for the next update Eyes👀
              </p>
              <img class="rounded-xl w-full cursor-pointer" src="https://pbs.twimg.com/media/Eo0p2lcXUAEp3LG?format=jpg&name=small" alt="image-uplodaded" />
              <div class="w-full mt-2 text-gray-600 flex items-center justify-between">
                <div class="inline-flex hover:text-blue-400 cursor-pointer items-center">
                  <button class="focus:outline-none rounded-full hover:bg-blue-500 hover:bg-opacity-20 p-2 hover:text-blue-400 focus:text-blue-400 transition-colors duration-150 ease-linear">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                    </svg>
                  </button>
                  <span class="text-xs font-medium">40</span>
                </div>
                <div class="inline-flex hover:text-green-400 cursor-pointer items-center">
                  <button class="focus:outline-none inline-flex space-x-1.5 rounded-full hover:bg-green-500 hover:bg-opacity-20 p-2 hover:text-green-400 focus:text-green-400 transition-colors duration-150 ease-linear">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                  </button>
                  <span class="text-xs font-medium">59</span>
                </div>
                <div class="inline-flex hover:text-pink-400 cursor-pointer items-center">
                  <button class="focus:outline-none inline-flex space-x-1.5 rounded-full hover:bg-pink-500 hover:bg-opacity-20 p-2 hover:text-pink-400 focus:text-pink-400 transition-colors duration-150 ease-linear">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                  </button>
                  <span class="text-xs font-medium">1.2k</span>
                </div>
                <div class="inline-flex hover:text-cyan-400 cursor-pointer items-center">
                  <button class="focus:outline-none inline-flex space-x-1.5 rounded-full hover:bg-cyan-500 hover:bg-opacity-20 p-2 hover:text-cyan-400 focus:text-cyan-400 transition-colors duration-150 ease-linear">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                    </svg>
                  </button>
                  <span class="text-xs font-medium"></span>
                </div>
              </div>
            </div>
            <!-- End Caption -->
          </div>
        </div>
      </div>
      <div class="w-full h-8 px-4 flex items-center hover:bg-gray-800">
        <div class="font-bold w-10 flex-none"></div>
        <a href="." class="text-blue-400 text-sm">Show this thread</a>
      </div>
    </div>
    <!-- End Tweet -->
  </div>
  <!-- End Main -->

  <!-- Footer -->
  <div class="w-full h-12 px-7 text-gray-600 flex items-center justify-between border-t border-gray-800">
    <button class="focus:outline-none relative hover:text-blue-400 focus:text-blue-400 transition-colors duration-150 ease-linear">
      <svg class="w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
      </svg>
      <div class="absolute rounded-full w-2 h-2 top-0 -right-0.5 bg-blue-500"></div>
    </button>
    <button class="focus:outline-none hover:text-blue-400 focus:text-blue-400 transition-colors duration-150 ease-linear">
      <svg class="w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </button>
    <button class="focus:outline-none relative hover:text-blue-400 focus:text-blue-400 transition-colors duration-150 ease-linear">
      <svg class="w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
      <div class="text-xs absolute font-semibold text-red-500 -top-1 -right-1">23</div>
    </button>
    <button class="focus:outline-none hover:text-blue-400 focus:text-blue-400 transition-colors duration-150 ease-linear">
      <svg class="w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
      </svg>
    </button>
  </div>
  <!-- End Footer -->
</div>
