<div class="min-h-screen bg-gray-100 py-6 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4">
  <div class="mx-auto w-56 bg-gray-50 rounded h-72 shadow-sm overflow-hidden hover:shadow-xl cursor-pointer transition-shadow">
    <div class="w-full h-1/2 bg-gray-200 overflow-hidden">
      <img class="w-full h-full object-cover object-left-top" src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="images" />
    </div>
    <div class="p-4">
      <p class="font-semibold mb-1">Salmon Nangka &bull; A</p>
      <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="mt-4 flex items-center justify-between">
        <span class="font-semibold">Rp.32.000</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-500 transform hover:scale-125 transition-transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="mx-auto w-56 bg-gray-50 rounded h-72 shadow-sm overflow-hidden hover:shadow-xl cursor-pointer transition-shadow">
    <div class="w-full h-1/2 bg-gray-200 overflow-hidden">
      <img class="w-full h-full object-cover object-left-top" src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="images" />
    </div>
    <div class="p-4">
      <p class="font-semibold mb-1">Salmon Nangka &bull; A</p>
      <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="mt-4 flex items-center justify-between">
        <span class="font-semibold">Rp.32.000</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-500 transform hover:scale-125 transition-transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="mx-auto w-56 bg-gray-50 rounded h-72 shadow-sm overflow-hidden hover:shadow-xl cursor-pointer transition-shadow">
    <div class="w-full h-1/2 bg-gray-200 overflow-hidden">
      <img class="w-full h-full object-cover object-left-top" src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="images" />
    </div>
    <div class="p-4">
      <p class="font-semibold mb-1">Salmon Nangka &bull; A</p>
      <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="mt-4 flex items-center justify-between">
        <span class="font-semibold">Rp.32.000</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-500 transform hover:scale-125 transition-transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="mx-auto w-56 bg-gray-50 rounded h-72 shadow-sm overflow-hidden hover:shadow-xl cursor-pointer transition-shadow">
    <div class="w-full h-1/2 bg-gray-200 overflow-hidden">
      <img class="w-full h-full object-cover object-left-top" src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="images" />
    </div>
    <div class="p-4">
      <p class="font-semibold mb-1">Salmon Nangka &bull; A</p>
      <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="mt-4 flex items-center justify-between">
        <span class="font-semibold">Rp.32.000</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-500 transform hover:scale-125 transition-transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>
