<div class="bg-gray-100">
  <div class="min-h-screen max-w-7xl mx-auto p-6 flex flex-col justify-center items-center space-y-4">
    <!-- Card 01 -->
    <div class="w-9/12 h-full min-w-max transition-shadow duration-300 flex flex-col lg:flex-row bg-white ring-1 ring-gray-300 ring-opacity-60 hover:ring-opacity-80 rounded-xl hover:shadow-lg">
      <div class="max-h-72 w-full lg:w-96 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden">
        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1580480055273-228ff5388ef8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hhaXJ8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" />
      </div>
      <div class="h-full w-full rounded-l-xl overflow-hidden py-5 px-8">
        <div class="flex items-start justify-between">
          <div class="inline-block">
            <span class="font-semibold text-3xl block text-gray-700">Beosound A1 2nd Gen</span>
            <span class="text-md font-medium text-gray-500 inline-flex space-x-1 items-center mt-1">
              <p>Even more user firendly</p>
            </span>
          </div>
          <div class="inline-flex space-x-2">
            <button class="transition hover:text-gray-600 font-semibold text-3xl text-gray-700 focus:outline-none rounded">$300</button>
          </div>
        </div>
        <div class="flex items-center justify-between my-12">
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Weight, kg</span>
              <span class="block text-xs text-gray-500">0.558 kg</span>
            </div>
          </div>
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Size, mm</span>
              <span class="block text-xs text-gray-500">133x46x133 mm</span>
            </div>
          </div>
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Waterproof</span>
              <span class="block text-xs text-gray-500">Available</span>
            </div>
          </div>
        </div>
        <div class="w-full mt-4 flex justify-between">
          <button class="px-2 py-3 text-gray-800 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:text-gray-600">
            <span> Delete Listing</span>
          </button>
          <div class="inline-flex space-x-4">
            <button class="bg-gray-100 py-3 px-6 text-gray-700 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:text-gray-500">
              <span> Edit</span>
            </button>
            <button class="bg-brown-100 py-3 px-6 text-gray-100 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:bg-opacity-90 hover:text-gray-200">
              <span> Publish</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 02 -->
    <div class="w-9/12 h-full min-w-max transition-shadow duration-300 flex flex-col lg:flex-row bg-white ring-1 ring-gray-300 ring-opacity-60 hover:ring-opacity-80 rounded-xl hover:shadow-lg">
      <div class="max-h-72 w-full lg:w-96 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden">
        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hhaXJ8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" />
      </div>
      <div class="h-full w-full rounded-l-xl overflow-hidden py-5 px-8">
        <div class="flex items-start justify-between">
          <div class="inline-block">
            <span class="font-semibold text-3xl block text-gray-700">Beosound A1 2nd Gen</span>
            <span class="text-md font-medium text-gray-500 inline-flex space-x-1 items-center mt-1">
              <p>Even more user firendly</p>
            </span>
          </div>
          <div class="inline-flex space-x-2">
            <button class="transition hover:text-gray-600 font-semibold text-3xl text-gray-700 focus:outline-none rounded">$300</button>
          </div>
        </div>
        <div class="flex items-center justify-between my-12">
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Weight, kg</span>
              <span class="block text-xs text-gray-500">0.558 kg</span>
            </div>
          </div>
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Size, mm</span>
              <span class="block text-xs text-gray-500">133x46x133 mm</span>
            </div>
          </div>
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Waterproof</span>
              <span class="block text-xs text-gray-500">Available</span>
            </div>
          </div>
        </div>
        <div class="w-full mt-4 flex justify-between">
          <button class="px-2 py-3 text-gray-800 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:text-gray-600">
            <span> Delete Listing</span>
          </button>
          <div class="inline-flex space-x-4">
            <button class="bg-gray-100 py-3 px-6 text-gray-700 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:text-gray-500">
              <span> Edit</span>
            </button>
            <button class="bg-brown-100 py-3 px-6 text-gray-100 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:bg-opacity-90 hover:text-gray-200">
              <span> Publish</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 03 -->
    <div class="w-9/12 h-full min-w-max transition-shadow duration-300 flex flex-col lg:flex-row bg-white ring-1 ring-gray-300 ring-opacity-60 hover:ring-opacity-80 rounded-xl hover:shadow-lg">
      <div class="max-h-72 w-full lg:w-96 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden">
        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1598300042247-d088f8ab3a91?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8Y2hhaXJ8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" />
      </div>
      <div class="h-full w-full rounded-l-xl overflow-hidden py-5 px-8">
        <div class="flex items-start justify-between">
          <div class="inline-block">
            <span class="font-semibold text-3xl block text-gray-700">Beosound A1 2nd Gen</span>
            <span class="text-md font-medium text-gray-500 inline-flex space-x-1 items-center mt-1">
              <p>Even more user firendly</p>
            </span>
          </div>
          <div class="inline-flex space-x-2">
            <button class="transition hover:text-gray-600 font-semibold text-3xl text-gray-700 focus:outline-none rounded">$300</button>
          </div>
        </div>
        <div class="flex items-center justify-between my-12">
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Weight, kg</span>
              <span class="block text-xs text-gray-500">0.558 kg</span>
            </div>
          </div>
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Size, mm</span>
              <span class="block text-xs text-gray-500">133x46x133 mm</span>
            </div>
          </div>
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Waterproof</span>
              <span class="block text-xs text-gray-500">Available</span>
            </div>
          </div>
        </div>
        <div class="w-full mt-4 flex justify-between">
          <button class="px-2 py-3 text-gray-800 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:text-gray-600">
            <span> Delete Listing</span>
          </button>
          <div class="inline-flex space-x-4">
            <button class="bg-gray-100 py-3 px-6 text-gray-700 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:text-gray-500">
              <span> Edit</span>
            </button>
            <button class="bg-brown-100 py-3 px-6 text-gray-100 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:bg-opacity-90 hover:text-gray-200">
              <span> Publish</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 04 -->
    <div class="w-9/12 h-full min-w-max transition-shadow duration-300 flex flex-col lg:flex-row bg-white ring-1 ring-gray-300 ring-opacity-60 hover:ring-opacity-80 rounded-xl hover:shadow-lg">
      <div class="max-h-72 w-full lg:w-96 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden">
        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1586158291800-2665f07bba79?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fGNoYWlyfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
      </div>
      <div class="h-full w-full rounded-l-xl overflow-hidden py-5 px-8">
        <div class="flex items-start justify-between">
          <div class="inline-block">
            <span class="font-semibold text-3xl block text-gray-700">Beosound A1 2nd Gen</span>
            <span class="text-md font-medium text-gray-500 inline-flex space-x-1 items-center mt-1">
              <p>Even more user firendly</p>
            </span>
          </div>
          <div class="inline-flex space-x-2">
            <button class="transition hover:text-gray-600 font-semibold text-3xl text-gray-700 focus:outline-none rounded">$300</button>
          </div>
        </div>
        <div class="flex items-center justify-between my-12">
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Weight, kg</span>
              <span class="block text-xs text-gray-500">0.558 kg</span>
            </div>
          </div>
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Size, mm</span>
              <span class="block text-xs text-gray-500">133x46x133 mm</span>
            </div>
          </div>
          <div class="inline-flex items-start space-x-2">
            <span class="transform -rotate-90">
              <svg class="w-8 h-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
              </svg>
            </span>
            <div class="inline-block">
              <span class="block font-semibold">Waterproof</span>
              <span class="block text-xs text-gray-500">Available</span>
            </div>
          </div>
        </div>
        <div class="w-full mt-4 flex justify-between">
          <button class="px-2 py-3 text-gray-800 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:text-gray-600">
            <span> Delete Listing</span>
          </button>
          <div class="inline-flex space-x-4">
            <button class="bg-gray-100 py-3 px-6 text-gray-700 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:text-gray-500">
              <span> Edit</span>
            </button>
            <button class="bg-brown-100 py-3 px-6 text-gray-100 rounded-lg font-semibold inline-flex space-x-1 items-start focus:outline-none hover:bg-opacity-90 hover:text-gray-200">
              <span> Publish</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
