<div class="bg-gray-100">
  <div class="min-h-screen max-w-7xl mx-auto p-6 flex flex-col justify-center space-y-4">
    <div class="w-full h-full transition-shadow duration-300 flex flex-col lg:flex-row bg-gray-50 ring-1 ring-gray-300 ring-opacity-60 hover:ring-opacity-80 rounded-xl hover:shadow-lg">
      <div class="h-72 w-full lg:w-96 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden">
        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1536590158209-e9d615d525e4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fGNhdHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60" />
      </div>
      <div class="h-full w-full rounded-l-xl overflow-hidden py-5 px-8">
        <div class="flex items-start justify-between">
          <div class="inline-block">
            <span class="font-semibold text-2xl block text-gray-700">My Lovely Orange Cat</span>
            <span class="text-xs text-gray-700 inline-flex space-x-1 items-center mt-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
              </svg>
              <p>25 November 2020</p>
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
              </svg>
              <p>Eko Sutrisno, 3 min of read</p>
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
              </svg>
              <p>3 min of read</p>
            </span>
          </div>
          <div class="inline-flex space-x-2">
            <button class="transition hover:text-gray-600 text-gray-500 focus:outline-none rounded">
              <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" />
              </svg>
            </button>
            <button class="transition hover:text-gray-600 text-gray-500 focus:outline-none rounded">
              <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
              </svg>
            </button>
          </div>
        </div>
        <p class="mt-4 font-normal">The fighting spirit in a person can be formed by giving motivational pearls of wisdom to that person. These words can be in the form of appeals or sentences that can encourage someone. At least, something related to pearls is something that is beautiful and can decorate the wearer. Just look at a girl wearing a pearl necklace, of course they will look more beautiful than other girls. Likewise with pearls of wisdom, these words are also a collection of beautiful words which are then woven in sentence frames that can melt the heart. So, it can change a decision from what initially seems negative to something positive....</p>
        <div class="w-full mt-4 flex justify-end">
          <button class="text-sm text-gray-700 inline-flex space-x-1 items-start focus:outline-none hover:text-gray-500">
            <span> Read more story</span>
            <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full h-full transition-shadow duration-300 flex flex-col lg:flex-row bg-gray-50 ring-1 ring-gray-300 ring-opacity-60 hover:ring-opacity-80 rounded-xl hover:shadow-lg">
      <div class="h-72 w-full lg:w-96 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden">
        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y2F0fGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
      </div>
      <div class="h-full w-full rounded-l-xl overflow-hidden py-5 px-8">
        <div class="flex items-start justify-between">
          <div class="inline-block">
            <span class="font-semibold text-2xl block text-gray-700">Realtions Betwen Cat and Butterfly</span>
            <span class="text-xs text-gray-700 inline-flex space-x-1 items-center mt-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
              </svg>
              <p>25 November 2020</p>
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
              </svg>
              <p>Eko Sutrisno, 3 min of read</p>
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
              </svg>
              <p>3 min of read</p>
            </span>
          </div>
          <div class="inline-flex space-x-2">
            <button class="transition hover:text-gray-600 text-gray-500 focus:outline-none rounded">
              <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" />
              </svg>
            </button>
            <button class="transition hover:text-gray-600 text-gray-500 focus:outline-none rounded">
              <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
              </svg>
            </button>
          </div>
        </div>
        <p class="mt-4 font-normal">The fighting spirit in a person can be formed by giving motivational pearls of wisdom to that person. These words can be in the form of appeals or sentences that can encourage someone. At least, something related to pearls is something that is beautiful and can decorate the wearer. Just look at a girl wearing a pearl necklace, of course they will look more beautiful than other girls. Likewise with pearls of wisdom, these words are also a collection of beautiful words which are then woven in sentence frames that can melt the heart. So, it can change a decision from what initially seems negative to something positive....</p>
        <div class="w-full mt-4 flex justify-end">
          <button class="text-sm text-gray-700 inline-flex space-x-1 items-start focus:outline-none hover:text-gray-500">
            <span> Read more story</span>
            <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full h-full transition-shadow duration-300 flex flex-col lg:flex-row bg-gray-50 ring-1 ring-gray-300 ring-opacity-60 hover:ring-opacity-80 rounded-xl hover:shadow-lg">
      <div class="h-72 w-full lg:w-96 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden">
        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1511275539165-cc46b1ee89bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGNhdHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60" />
      </div>
      <div class="h-full w-full rounded-l-xl overflow-hidden py-5 px-8">
        <div class="flex items-start justify-between">
          <div class="inline-block">
            <span class="font-semibold text-2xl block text-gray-700">Free Time For My Cat</span>
            <span class="text-xs text-gray-700 inline-flex space-x-1 items-center mt-2">
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
              </svg>
              <p>25 November 2020</p>
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
              </svg>
              <p>Eko Sutrisno, 3 min of read</p>
              <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
              </svg>
              <p>3 min of read</p>
            </span>
          </div>
          <div class="inline-flex space-x-2">
            <button class="transition hover:text-gray-600 text-gray-500 focus:outline-none rounded">
              <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" />
              </svg>
            </button>
            <button class="transition hover:text-gray-600 text-gray-500 focus:outline-none rounded">
              <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
              </svg>
            </button>
          </div>
        </div>
        <p class="mt-4 font-normal">The fighting spirit in a person can be formed by giving motivational pearls of wisdom to that person. These words can be in the form of appeals or sentences that can encourage someone. At least, something related to pearls is something that is beautiful and can decorate the wearer. Just look at a girl wearing a pearl necklace, of course they will look more beautiful than other girls. Likewise with pearls of wisdom, these words are also a collection of beautiful words which are then woven in sentence frames that can melt the heart. So, it can change a decision from what initially seems negative to something positive....</p>
        <div class="w-full mt-4 flex justify-end">
          <button class="text-sm text-gray-700 inline-flex space-x-1 items-start focus:outline-none hover:text-gray-500">
            <span> Read more story</span>
            <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
