<div class="min-h-screen bg-gray-100 justify-center font-sans">
  <div class="mx-auto">
    <!-- Header Jumbotron -->
    <div class="min-h-screen w-full relative overflow-hidden">
      <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="jumbo-image" />

      <div class="inset-0 absolute bg-opacity-60 bg-black z-50">
        <!-- Container  -->
        <div class="container mx-auto text-gray-300 p-10">
          <!-- Navbar -->
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-start space-x-4">
              <span class="text-2xl font-semibold">&copy;</span>
              <h1 class="font-semibold text-lg">ExoRestourant</h1>
              <div class="relative flex items-center space-x-4">
                <span class="text-lg">&copysr;</span>
                <input type="text" class="bg-transparent focus:outline-none placeholder-gray-400 py-2 px-3" placeholder="Search" />
              </div>
            </div>
            <div class="relative flex items-center justify-between space-x-12 text-base font-semibold">
              <a class="hover:text-yellow-600 transition-colors duration-200 ease-in-out" href="#">About</a>
              <a class="hover:text-yellow-600 transition-colors duration-200 ease-in-out" href="#">Foods</a>
              <a class="hover:text-yellow-600 transition-colors duration-200 ease-in-out" href="#">Drinks</a>
              <a class="hover:text-yellow-600 transition-colors duration-200 ease-in-out" href="#">Contact</a>
            </div>
            <div class="text-lg font-semibold">Get in Touch</div>
          </div>

          <!-- Center Jumbotron  -->
          <div class="mt-32 text-center">
            <button class="bg-yellow-600 font-semibold transition focus:outline-none hover:bg-yellow-500 py-2 px-6 rounded-full">PIZZA</button>
          </div>
          <div class="mt-10 text-center">
            <div>
              <span class="text-5xl">Pizza <span class="font-bold">Coocked</span> With Soul</span>
            </div>
            <div class="mt-12">
              <span class="text-lg font-semibold">PIZZA &dash; JUICE &dash; HEALTY &dash; SALAD</span>
            </div>
            <div class="mt-12 flex items-center justify-around">
              <div class="flex items-start space-x-6">
                <div><span class="text-2xl font-semibold">&copy;</span></div>
                <div class="flex flex-col items-start">
                  <span class="block">Po.Box 32173 Jakarta</span>
                  <span class="block">Jl. Sisingamangaraja, Jakarta Pusat</span>
                </div>
              </div>
              <div class="flex items-start space-x-6">
                <div><span class="text-2xl font-semibold">&copy;</span></div>
                <div class="flex flex-col items-start">
                  <span class="block">Open 08:00 am - 22:00 pm</span>
                  <span class="block">Sunday - Saturday | exc. Holiday</span>
                </div>
              </div>
              <div class="flex items-start space-x-6">
                <div><span class="text-2xl font-semibold">&copy;</span></div>
                <div class="flex flex-col items-start">
                  <span class="block">+2421 222-122</span>
                  <span class="block">exorestaurant.co.id</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar  -->
    </div>
    <!-- End Jumbotron -->
    <div class="h-screen w-full relative overflow-hidden">
      <button class="bg-yellow-600 absolute top-0 right-1/2 mt-4 z-50 -mr-12 font-semibold transition focus:outline-none hover:bg-yellow-500 py-2 px-6 rounded-full text-gray-300">Show More</button>
    </div>
  </div>
</div>
