<div class="bg-gray-100">
  <div class="min-h-screen container mx-auto p-6 grid md:grid-cols-2 lg:grid-cols-4 gap-y-32 gap-x-8">
    <!-- Card 01 -->
    <div class="bg-white mx-auto shadow-sm min-w-sm h-96 rounded-xl">
      <div class="flex items-center justify-between p-5">
        <div class="flex items-start space-x-4">
          <div class="w-auto">
            <img class="w-16 h-16 object-cover rounded-lg" src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fHByb2ZpbGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile-pic" />
          </div>
          <div class="flex flex-col">
            <span class="text-lg font-semibold text-gray-600">Puspita Sari</span>
            <span class="text-sm font-normal text-gray-600">2020.11.23</span>
          </div>
        </div>
        <button class="text-gray-400 py-2 px-3 focus:outline-none hover:text-gray-700">&bull;&bull;&bull;</button>
      </div>
      <div class="h-full w-full relative">
        <div class="inset-0"></div>
        <img class="w-full h-full object-cover rounded-b-xl" src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fHByb2ZpbGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile-pic" />
        <button class="py-2 px-6 absolute rounded-full bg-white shadow-2xl focus:outline-none hover:bg-gray-100 text-gray-700 font-semibold bottom-0 left-14 -mb-4">Continue Reading</button>
        <button class="py-2 px-4 transition absolute rounded-md bg-black bg-opacity-40 shadow-2xl focus:outline-none hover:bg-opacity-60 text-gray-100 font-semibold top-0 mt-4 ml-2">
          <span class="mr-2">&hearts;</span>
          <span>Like</span>
        </button>
      </div>
    </div>
    <!-- End Card 01  -->
    <!-- Card 02 -->
    <div class="bg-white mx-auto shadow-sm min-w-sm h-96 rounded-xl">
      <div class="flex items-center justify-between p-5">
        <div class="flex items-start space-x-4">
          <div class="w-auto">
            <img class="w-16 h-16 object-cover rounded-lg" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fHByb2ZpbGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile-pic" />
          </div>
          <div class="flex flex-col">
            <span class="text-lg font-semibold text-gray-600">Puspita Sari</span>
            <span class="text-sm font-normal text-gray-600">2020.11.23</span>
          </div>
        </div>
        <button class="text-gray-400 py-2 px-3 focus:outline-none hover:text-gray-700">&bull;&bull;&bull;</button>
      </div>
      <div class="h-full w-full relative">
        <div class="inset-0"></div>
        <img class="w-full h-full object-cover rounded-b-xl" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fHByb2ZpbGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile-pic" />
        <button class="py-2 px-6 absolute rounded-full bg-white shadow-2xl focus:outline-none hover:bg-gray-100 text-gray-700 font-semibold bottom-0 left-14 -mb-4">Continue Reading</button>
        <button class="py-2 px-4 transition absolute rounded-md bg-black bg-opacity-40 shadow-2xl focus:outline-none hover:bg-opacity-60 text-gray-100 font-semibold top-0 mt-4 ml-2">
          <span class="mr-2">&hearts;</span>
          <span>Like</span>
        </button>
      </div>
    </div>
    <!-- End Card 02  -->
    <!-- Card 03 -->
    <div class="bg-white mx-auto shadow-sm min-w-sm h-96 rounded-xl">
      <div class="flex items-center justify-between p-5">
        <div class="flex items-start space-x-4">
          <div class="w-auto">
            <img class="w-16 h-16 object-cover rounded-lg" src="https://images.unsplash.com/photo-1525879000488-bff3b1c387cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzV8fHByb2ZpbGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile-pic" />
          </div>
          <div class="flex flex-col">
            <span class="text-lg font-semibold text-gray-600">Puspita Sari</span>
            <span class="text-sm font-normal text-gray-600">2020.11.23</span>
          </div>
        </div>
        <button class="text-gray-400 py-2 px-3 focus:outline-none hover:text-gray-700">&bull;&bull;&bull;</button>
      </div>
      <div class="h-full w-full relative">
        <div class="inset-0"></div>
        <img class="w-full h-full object-cover rounded-b-xl" src="https://images.unsplash.com/photo-1525879000488-bff3b1c387cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzV8fHByb2ZpbGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile-pic" />
        <button class="py-2 px-6 absolute rounded-full bg-white shadow-2xl focus:outline-none hover:bg-gray-100 text-gray-700 font-semibold bottom-0 left-14 -mb-4">Continue Reading</button>
        <button class="py-2 px-4 transition absolute rounded-md bg-black bg-opacity-40 shadow-2xl focus:outline-none hover:bg-opacity-60 text-gray-100 font-semibold top-0 mt-4 ml-2">
          <span class="mr-2">&hearts;</span>
          <span>Like</span>
        </button>
      </div>
    </div>
    <!-- End Card 03  -->
    <!-- Card 04 -->
    <div class="bg-white mx-auto shadow-sm min-w-sm h-96 rounded-xl">
      <div class="flex items-center justify-between p-5">
        <div class="flex items-start space-x-4">
          <div class="w-auto">
            <img class="w-16 h-16 object-cover rounded-lg" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2ZpbGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile-pic" />
          </div>
          <div class="flex flex-col">
            <span class="text-lg font-semibold text-gray-600">Puspita Sari</span>
            <span class="text-sm font-normal text-gray-600">2020.11.23</span>
          </div>
        </div>
        <button class="text-gray-400 py-2 px-3 focus:outline-none hover:text-gray-700">&bull;&bull;&bull;</button>
      </div>
      <div class="h-full w-full relative">
        <div class="inset-0"></div>
        <img class="w-full h-full object-cover rounded-b-xl" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2ZpbGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile-pic" />
        <button class="py-2 px-6 absolute rounded-full bg-white shadow-2xl focus:outline-none hover:bg-gray-100 text-gray-700 font-semibold bottom-0 left-14 -mb-4">Continue Reading</button>
        <button class="py-2 px-4 transition absolute rounded-md bg-black bg-opacity-40 shadow-2xl focus:outline-none hover:bg-opacity-60 text-gray-100 font-semibold top-0 mt-4 ml-2">
          <span class="mr-2">&hearts;</span>
          <span>Like</span>
        </button>
      </div>
    </div>
    <!-- End Card 04  -->
  </div>
</div>
