<div class="flex items-center justify-center py-5 bg-gray-100 min-h-screen">
  <div class="bg-white w-72 h-72 rounded-lg shadow-sm p-4">
    <div class="w-full h-48 bg-gray-100 rounded overflow-hidden">
      <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" alt="card-image" />
    </div>
    <div class="p-2">
      <h1 class="font-semibold">Healty food and drinks</h1>
      <h1 class="text-sm font-normal tracking-wide mt-2">$340 &bull; 5 Days &bull; 5.0 Ratings</h1>
    </div>
  </div>
</div>
