<div class="flex items-center justify-center p-5 bg-gray-100 min-h-screen">
  <div class="relative w-11/12 h-80 rounded-2xl overflow-hidden">
    <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" alt="card-image" />
    <div class="inset-0 z-50 p-10 group hi text-gray-200 bg-black bg-opacity-30 absolute flex flex-col justify-between">
      <div class="group-hover:block">
        <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row items-start justify-between">
          <div class="text-3xl">
            <span class="font-bold">Meaty Bar</span>
            <span class="font-light">Resto</span>
          </div>
          <div class="flex space-x-3 items-center">
            <button class="focus:outline-none bg-gray-900 bg-opacity-60 text-sm py-2 px-4 rounded-full">&topfork; 45 Min</button>
            <button class="focus:outline-none text-lg py-1 px-3 rounded-full bg-orange-500">&hearts;</button>
          </div>
        </div>
        <div class="flex flex-col md:mt-10 space-y-4 md:space-y-0 md:flex-row items-start justify-between">
          <div class="text-base">
            <span class="font-bold text-orange-500">&star; &star; &star; &star; &star;</span>
            <span class="text-sm font-bold">5.5</span>
            <span class="text-sm font-bold">Review: 223</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row items-start justify-between">
        <div class="flex flex-col md:flex-row md:space-x-3 items-center">
          <button class="focus:outline-none hidden md:block text-lg py-1 px-3 rounded-full bg-pink-600">&check;</button>
          <button class="focus:outline-none bg-gray-900 bg-opacity-0 text-xs py-2 px-4 rounded-full font-bold">Free shipping from order for $ 15</button>
        </div>
        <div class="flex flex-col md:flex-row md:space-x-3 items-center">
          <button class="focus:outline-none bg-gray-900 bg-opacity-0 text-xs py-2 px-4 rounded-full font-bold">Restaurant Infomations</button>
          <button class="focus:outline-none hidden md:block text-lg py-1 px-3 rounded-full bg-orange-500">&phone;</button>
        </div>
      </div>
    </div>
  </div>
</div>
