<div class="min-h-screen bg-gray-300 py-6 flex items-center justify-center sm:py-12">
  <div class="w-52 flex flex-col bg-gray-100 min-h-screen rounded-sm font-exo">
    <div class="logo p-5">
      <h1 class="text-2xl text-center"><span class="font-semibold">Eko/</span><span class="text-green-500 font-bold">MTodo</span></h1>
    </div>
    <div class="w-full h-full flex flex-col space-y-2">
      <button type="button" class="w-full py-3 px-4 text-sm inline-flex items-center space-x-3 text-gray-700 transition duration-300 ease-linear border-r-4 border-green-400 border-opacity-0 hover:border-opacity-80 font-semibold focus:outline-none hover:bg-green-50 hover:text-green-500">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
        </svg>
        <span> DASHBOARD </span>
      </button>
      <button type="button" class="w-full py-3 px-4 text-sm inline-flex items-center space-x-3 text-gray-700 transition duration-300 ease-linear border-r-4 border-green-400 border-opacity-0 hover:border-opacity-80 font-semibold focus:outline-none hover:bg-green-50 hover:text-green-500">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
        <span> PROJECTS </span>
      </button>
      <button type="button" class="w-full py-3 px-4 text-sm inline-flex items-center space-x-3 text-gray-700 transition duration-300 ease-linear border-r-4 border-green-400 border-opacity-0 hover:border-opacity-80 font-semibold focus:outline-none hover:bg-green-50 hover:text-green-500">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <span> MY TASK </span>
      </button>
      <button type="button" class="w-full py-3 px-4 text-sm inline-flex items-center space-x-3 text-gray-700 transition duration-300 ease-linear border-r-4 border-green-400 border-opacity-0 hover:border-opacity-80 font-semibold focus:outline-none hover:bg-green-50 hover:text-green-500">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
        <span> CALENDAR </span>
      </button>
      <button type="button" class="w-full py-3 px-4 text-sm inline-flex items-center space-x-3 text-gray-700 transition duration-300 ease-linear border-r-4 border-green-400 border-opacity-0 hover:border-opacity-80 font-semibold focus:outline-none hover:bg-green-50 hover:text-green-500">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span> TIME MANAGE </span>
      </button>
      <button type="button" class="w-full py-3 px-4 text-sm inline-flex items-center space-x-3 text-gray-700 transition duration-300 ease-linear border-r-4 border-green-400 border-opacity-0 hover:border-opacity-80 font-semibold focus:outline-none hover:bg-green-50 hover:text-green-500">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
        </svg>
        <span> REPORTS</span>
      </button>
      <button type="button" class="w-full py-3 px-4 text-sm inline-flex items-center space-x-3 text-gray-700 transition duration-300 ease-linear border-r-4 border-green-400 border-opacity-0 hover:border-opacity-80 font-semibold focus:outline-none hover:bg-green-50 hover:text-green-500">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span> SETTINGS</span>
      </button>
    </div>
  </div>
</div>
