<div class="min-h-screen bg-gray-100 p-2">
  <div class="w-80 min-w-min h-full bg-gray-50 rounded p-5 shadow-lg">
    <div class="w-full flex items-center justify-between h-16 py-2 px-4 bg-white ring-2 ring-gray-100 rounded">
      <div class="inline-flex items-center space-x-3">
        <img class="w-10 h-10 object-cover rounded-full cursor-pointer" src="https://avatars0.githubusercontent.com/u/51039205?s=460&u=cb1d242b6a9b13a3b6383e46b5410fafe471b63d&v=4" alt="avatar" />
        <div>
          <div class="block font-semibold">Eko Sutrisno</div>
          <div class="block text-xs text-gray-500 -mt-1">ekosutrisno801@gmail.com</div>
        </div>
      </div>
      <div>
        <button class="w-10 h-10 p-2 rounded-full focus:outline-none hover:bg-gray-100">
          <svg class="w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
      </div>
    </div>

    <div class="w-full flex flex-col space-y-2 mt-5">
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
          </svg>
          <span>Dashboard</span>
        </div>
        <span class="rounded-full py-1 px-2 text-xs bg-indigo-500 text-indigo-50">23</span>
      </button>
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
          </svg>
          <span>Quotes</span>
        </div>
        <span class="rounded-full hidden py-1 px-2 text-xs bg-indigo-500 text-indigo-50">23</span>
      </button>
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
          </svg>
          <span>Booking</span>
        </div>
        <span class="rounded-full hidden py-1 px-2 text-xs bg-indigo-500 text-indigo-50">23</span>
      </button>
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span>Billing</span>
        </div>
        <span class="rounded-full hidden py-1 px-2 text-xs bg-indigo-500 text-indigo-50">23</span>
      </button>
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
          </svg>
          <span>User Detail</span>
        </div>
        <span class="rounded-full hidden py-1 px-2 text-xs bg-indigo-500 text-indigo-50">23</span>
      </button>
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
          </svg>
          <span>Order</span>
        </div>
        <span class="rounded-full hidden py-1 px-2 text-xs bg-indigo-500 text-indigo-50">23</span>
      </button>
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
          </svg>
          <span>Reports</span>
        </div>
        <span class="rounded-full py-1 px-2 text-xs bg-indigo-500 text-indigo-50">1</span>
      </button>
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
          </svg>
          <span>File Manager</span>
        </div>
        <span class="rounded-full hidden py-1 px-2 text-xs bg-indigo-500 text-indigo-50">23</span>
      </button>
      <button class="py-3 px-6 hover:bg-gray-100 inline-flex items-center justify-between space-x-3 rounded">
        <div class="inline-flex space-x-3">
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
          </svg>
          <span>File Manager</span>
        </div>
        <span class="rounded-full hidden py-1 px-2 text-xs bg-indigo-500 text-indigo-50">23</span>
      </button>
    </div>
  </div>
</div>
