<div class="bg-gray-200">
  <div class="min-h-screen max-w-7xl mx-auto p-6 flex flex-col lg:flex-row justify-center items-center space-y-4">
    <div class="grid grid-cols-12 gap-4 w-full">
      <!-- Left Aside -->
      <div class="col-span-2 flex-col w-full p-2">
        <div class="font-semibold text-4xl tracking-wide text-gray-800">Receipes</div>
        <div class="flex flex-col space-y-3.5">
          <button class="mt-10 ring-2 group ring-opacity-20 hover:bg-yellow-500 transition-all ease-in-out duration-300 ring-gray-300 hover:ring-yellow-600 hover:ring-opacity-75 py-2 px-3 focus:outline-none rounded-full w-full inline-flex space-x-4 items-center font-semibold bg-transparent">
            <span class="bg-gray-50 bg-opacity-40 group-hover:bg-opacity-100 p-1 rounded-full">
              <svg class="w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
              </svg>
            </span>
            <span>Pizza</span>
          </button>
          <button class="mt-10 ring-2 group ring-opacity-20 hover:bg-yellow-500 transition-all ease-in-out duration-300 ring-gray-300 hover:ring-yellow-600 hover:ring-opacity-75 py-2 px-3 focus:outline-none rounded-full w-full inline-flex space-x-4 items-center font-semibold bg-transparent">
            <span class="bg-gray-50 bg-opacity-40 group-hover:bg-opacity-100 p-1 rounded-full">
              <svg class="w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01" />
              </svg>
            </span>
            <span>Dessert</span>
          </button>
          <button class="mt-10 ring-2 group ring-opacity-20 hover:bg-yellow-500 transition-all ease-in-out duration-300 ring-gray-300 hover:ring-yellow-600 hover:ring-opacity-75 py-2 px-3 focus:outline-none rounded-full w-full inline-flex space-x-4 items-center font-semibold bg-transparent">
            <span class="bg-gray-50 bg-opacity-40 group-hover:bg-opacity-100 p-1 rounded-full">
              <svg class="w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
              </svg>
            </span>
            <span>Noddle</span>
          </button>
          <button class="mt-10 ring-2 group ring-opacity-20 hover:bg-yellow-500 transition-all ease-in-out duration-300 ring-gray-300 hover:ring-yellow-600 hover:ring-opacity-75 py-2 px-3 focus:outline-none rounded-full w-full inline-flex space-x-4 items-center font-semibold bg-transparent">
            <span class="bg-gray-50 bg-opacity-40 group-hover:bg-opacity-100 p-1 rounded-full">
              <svg class="w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
              </svg>
            </span>
            <span>Coctails</span>
          </button>
          <button class="mt-10 ring-2 group ring-opacity-20 hover:bg-yellow-500 transition-all ease-in-out duration-300 ring-gray-300 hover:ring-yellow-600 hover:ring-opacity-75 py-2 px-3 focus:outline-none rounded-full w-full inline-flex space-x-4 items-center font-semibold bg-transparent">
            <span class="bg-gray-50 bg-opacity-40 group-hover:bg-opacity-100 p-1 rounded-full">
              <svg class="w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
              </svg>
            </span>
            <span>Salad</span>
          </button>
        </div>
      </div>
      <!-- End Left Aside  -->

      <!-- Main -->
      <div class="col-span-6 p-2">
        <div class="relative">
          <input class="bg-gray-200 py-2 pl-12 ring-2 ring-gray-300 ring-opacity-50 focus:outline-none rounded-full w-full" placeholder="Search receipe and more ..." />
          <svg class="absolute w-6 top-2.5 left-3 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </div>
        <div class="transition-shadow mt-6 duration-300 flex flex-col lg:flex-row bg-white rounded-2xl shadow-sm hover:shadow-xl">
          <div class="max-h-72 w-full lg:w-1/2 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden">
            <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1564936281291-294551497d81?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDd8fHBpenphfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="max-h-72 w-full lg:w-1/2 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none overflow-hidden p-5">
            <span class="text-2xl font-semibold text-gray-800">Citrus Salad with berries</span>
            <p class="text-sm mt-3">In the seasone is fresh strowberries, I suggest making a very tasty and siple pie with this berrie</p>
            <div class="inline-flex mt-6">
              <div class="mx-2">
                <span class="block font-semibold text-sm mb-1">Serving</span>
                <span class="inline-flex text-gray-600">
                  <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                  <svg text-gray-600 class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                </span>
              </div>
              <div class="mx-2">
                <span class="block font-semibold text-sm mb-1">Cook Time</span>
                <span class="inline-flex text-gray-900 font-semibold text-sm tracking-wide"> 1h10m </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main -->

      <!-- Righ Aside  -->
      <div class="col-span-4 flex flex-col items-end p-2">
        <button class="ring-2 group ring-opacity-20 bg-gray-50 transition-all ease-in-out duration-300 ring-gray-300 hover:ring-yellow-600 hover:ring-opacity-75 py-2 px-5 focus:outline-none rounded-full w-2/4 inline-flex space-x-4 items-center font-semibold bg-transparent">
          <p class="text-sm">
            <span class="font-normal">Sort by: </span>
            <span class="font-semibold"> Newest</span>
          </p>
          <span class="bg-gray-50 bg-opacity-40 group-hover:bg-opacity-100 p-1 rounded-full">
            <svg class="w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </span>
        </button>
        <div class="w-11/12 hover:shadow-lg cursor-pointer group shadow-sm h-auto bg-gray-900 text-gray-200 rounded-3xl relative flex p-3 mt-6">
          <img class="w-20 group-hover:animate-bounce-slow shadow-lg h-20 object-cover rounded-full -ml-9" src="https://images.unsplash.com/photo-1589840700256-f78d6ed1ae21?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDZ8fHBpenphfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
          <div class="flex flex-col justify-start items-start ml-6">
            <h1 class="font-semibold ml-2 mb-2">Avocado Salad</h1>
            <div class="inline-flex">
              <div class="mx-2">
                <span class="block font-semibold text-xs mb-1">Serving</span>
                <span class="inline-flex">
                  <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                  <svg text-gray-600 class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                </span>
              </div>
              <div class="mx-2">
                <span class="block font-semibold text-xs mb-1">Cook Time</span>
                <span class="inline-flex font-semibold text-sm tracking-wide"> 1h30m </span>
              </div>
            </div>
          </div>
        </div>
        <div class="w-11/12 hover:shadow-lg cursor-pointer group shadow-sm h-auto bg-gray-50 text-gray-900 rounded-3xl relative flex p-3 mt-6">
          <img class="w-20 group-hover:animate-spin-slow shadow-lg h-20 object-cover rounded-full -ml-9" src="https://images.unsplash.com/photo-1591484506290-803ed645eb54?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTEzfHxwaXp6YXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60" />
          <div class="flex flex-col justify-start items-start ml-6">
            <h1 class="font-semibold ml-2 mb-2">Green Chicken Pasta</h1>
            <div class="inline-flex">
              <div class="mx-2">
                <span class="block font-semibold text-xs mb-1">Serving</span>
                <span class="inline-flex">
                  <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                  <svg text-gray-600 class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                </span>
              </div>
              <div class="mx-2">
                <span class="block font-semibold text-xs mb-1">Cook Time</span>
                <span class="inline-flex text-gray-900 font-semibold text-sm tracking-wide"> 1h50m </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Right Aside -->
    </div>
  </div>
</div>
